{{> header_principal}}

<section class="c-profile-seller">
    <article class="c-profile-seller__content">
        <figure class="c-profile-seller__fig">
            <img class="c-profile-seller__fig--img" src="images/photo-store/1.jpg">
        </figure>
        <div class="c-profile-seller__form-actions">
            <div class="c-profile-seller__form-actions--content">
                <p class="c-profile-seller__form-actions--title">POSTRES Y PONQUES DON JACOBO</p>
                <div class="c-profile-seller__form">
                    <form class="c-profile-seller__form--content" action="" method="">
                        <div id="next_reg" class="c-profile__reg-steps">
                            <div id="reg-step-1" class="c-profile__reg-step">
                                <p class="c-profile-seller__form--title">Registrar producto - Paso 1</p>
                                <div class="c-profile-seller__input">
                                    <input placeholder="Categoria:" id="categoria_producto" type="text" required>
                                </div>
                                <div class="c-profile-seller__input">
                                    <input placeholder="Titulo:" id="titulo_producto" type="text" required>
                                </div>
                                <a id="siguiente1" class="c-profile-seller--button">Sigueinte paso</a>
                            </div>
                            <div id="reg-step-2" class="c-profile__reg-step">
                                <p class="c-profile-seller__form--title">Registrar producto - Paso 2</p>
                                <div class="c-profile-seller__input">
                                    <input placeholder="Stock:" id="stock_producto" type="text" required>
                                </div>
                                <div class="c-profile-seller__input">
                                    <input placeholder="Precio unidad:" id="precio_producto" type="text" required>
                                </div>
                                <div class="c-profile-seller__input">
                                    <textarea name="" id="descripcion_producto" cols="30" rows="10"></textarea>
                                </div>
                                <a id="atras1" class="c-profile-seller--button">Atras</a>
                                <a id="siguiente2" class="c-profile-seller--button">Sigueinte paso</a>
                            </div>
                            <div id="reg-step-3" class="c-profile__reg-step">
                                <p class="c-profile-seller__form--title">Registrar producto - Paso 3</p>
                                <div class="c-profile-seller__input">
                                    <input placeholder="Categoria:" type="text" required>
                                </div>
                                <div class="c-profile-seller__input">
                                    <input placeholder="Titulo:" type="text" required>
                                </div>
                                <a id="atras2" class="c-profile-seller--button">Atras</a>
                                <button class="c-profile-seller--button" type="submit" >Registrar</button>
                            </div>
                        </div>
                    </form>
                    <div class="c-profile-seller__actions">
                        <div class="c-profile-seller__buttons">
                            <div class="c-profile-seller__buttons--btn">
                                <a class="c-profile-seller__buttons--a" href="">
                                    <i class="fas fa-box"></i>
                                </a>
                            </div>
                            <div class="c-profile-seller__buttons--btn">
                                <a class="c-profile-seller__buttons--a" href="">
                                    <i class="fas fa-chart-line"></i>
                                </a>
                            </div>
                            <div class="c-profile-seller__buttons--btn">
                                <a class="c-profile-seller__buttons--a" href="">
                                    <i class="fas fa-question-circle"></i>
                                </a>
                            </div>
                        </div>
                        <ul class="c-profile-seller__options">
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="far fa-edit"></i>
                                    Editar perfil
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-store"></i>
                                    Compras
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-money-bill-wave"></i>
                                    Devoluciones
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-box-open"></i>
                                    Cambios
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-star"></i>
                                    Favoritos
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-shopping-cart"></i>
                                    Carrito
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<script src="../js/siguiente-paso.js"></script>
{{> footer}}