footer
{
    background-color: rgb(19, 19, 19);
    width: 100%;
}

.footer-info { width: 100%; }

.footer-info__content
{
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 55px;
    padding-top: 55px;
    width: 90%;
}

.footer-info__options { display: flex; }

// .footer-info__know-us
// {

// }

.footer-info__know-us--title
{
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-info__know-us--li
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-info__know-us--a
{
    color: white;
    opacity: .5;
    transition: .5s;
}

.c-copyright
{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: 50px;
    width: 100%;
}

.c-copyright p
{
    color: white;
    font-size: 12px;
    width: 90%;
}

/*************+*/

.logo-footer
{
    width: 140px;
}

.title-footer-p
{
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}

.socialmedia-footer
{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.navegacion-footer { padding-left: 30px }

.navegacion-footer__li
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.navegacion-footer__li--a
{
    color: white;
    opacity: .5;
    transition: .5s;
}

.navegacion-footer__li--a:hover
{
    opacity: 1;
}

.socialmedia-footer__li
{
    width: 30px;
}

.socialmedia-footer__li--img
{
    width: 100%;
}

