.h
{
    display: flex;
    background-color: var(--purple);
    overflow: hidden;
    justify-content: center;
    width: 100%;
}
.h__content
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 1212px;
}
.h__content--img { width: 140px; }

.h__menu
{
    align-items: center;
    display: flex;
}
.h__search
{
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid var(--purple);
    border-radius: 5px;
    justify-content: center;
    display: flex;
    height: 35px;
    width: 80%;
    min-width: 170px;
}

.h__search__c { width: 85%; }
.h__search--input { color: var(--purple); font-size: 14px; width: 100% }

.h__search--ico
{
    background-color: transparent;
    cursor: pointer;
    width: 20px;
}

.h__search--ico i { color: var(--purple); }
.h__menu__a-img { margin-right: 3vw }

.h__menu--li
{   
    margin-right: 2px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    transition: .5s;
}
.h__menu--li:hover
{
    background-color: #920061;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    transition: .5s;
}
.h__menu--li-btn
{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #920061;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    transition: .5s;
}

.h__menu-account--ico i { color: #ffffff; }
.h__menu--li-btn:hover { background-color: #5d003e; }

.h__menu--a
{
    align-items: center;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    color: #ffffff;
    font-weight: bold;
}
.h__menu--a i
{
    color: #ffffff;
    font-size: 20px;
    padding-left: 14px;
}
.h-list
{
    display: flex;
    justify-content: center;
    width: 100%;
}
.h-list__content
{
    display: flex;
    justify-content: space-between;
    width: 1212px;
}
.h-list__ul
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.h-list__li
{
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
}

.h-list__li:last-child { padding-right: 0; }

.h-list__li--a
{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    opacity: .6;
}

.h-list__li--a:hover { opacity: 1; text-decoration: underline; }
.h__ico-show { cursor: pointer; }

.h__ico-show--i
{
    color: var(--purple);
    font-size: 25px; 
}
.h__ico-show--i2
{
    color: #ffffff;
    margin-left: 25px;
    font-size: 20px; 
}

/************** Slider ******************/

.c-slider
{
    background-color: #ffffff;
    max-height: 500px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1440px;
}

.c-slider__txt
{
    align-items: center;
    display: flex;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 1340px;
    z-index: 100;
}

.c-slider__txt__content
{
    margin: 0 auto;
    width: 1212px;
}

.c-slider__logo { width: 350px; }
.c-slider__info { width: 650px; }

.c-slider__info--h1
{
    color: #ffffff;
    font-size: 4.5rem;
    line-height: 60px;
    padding: 30px 0 15px 0;
}
.c-slider__info--p
{
    color: #ffffff;
    font-size: 20px;
}
.c-slider__c-imgs
{
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.c-slider-fondo-rosa
{
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 60%;
    z-index: 1;
    
    background: rgba(214,19,152,1);
    background: -moz-linear-gradient(left, rgba(214,19,152,1) 0%, rgba(214,19,152,1) 70%, rgba(214,19,152,0.63) 81%, rgba(214,19,152,0.53) 84%, rgba(247,22,176,0.23) 93%, rgba(247,22,176,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(214,19,152,1)), color-stop(70%, rgba(214,19,152,1)), color-stop(81%, rgba(214,19,152,0.63)), color-stop(84%, rgba(214,19,152,0.53)), color-stop(93%, rgba(247,22,176,0.23)), color-stop(100%, rgba(247,22,176,0)));
    background: -webkit-linear-gradient(left, rgba(214,19,152,1) 0%, rgba(214,19,152,1) 70%, rgba(214,19,152,0.63) 81%, rgba(214,19,152,0.53) 84%, rgba(247,22,176,0.23) 93%, rgba(247,22,176,0) 100%);
    background: -o-linear-gradient(left, rgba(214,19,152,1) 0%, rgba(214,19,152,1) 70%, rgba(214,19,152,0.63) 81%, rgba(214,19,152,0.53) 84%, rgba(247,22,176,0.23) 93%, rgba(247,22,176,0) 100%);
    background: -ms-linear-gradient(left, rgba(214,19,152,1) 0%, rgba(214,19,152,1) 70%, rgba(214,19,152,0.63) 81%, rgba(214,19,152,0.53) 84%, rgba(247,22,176,0.23) 93%, rgba(247,22,176,0) 100%);
    background: linear-gradient(to right, rgba(214,19,152,1) 0%, rgba(214,19,152,1) 70%, rgba(214,19,152,0.63) 81%, rgba(214,19,152,0.53) 84%, rgba(247,22,176,0.23) 93%, rgba(247,22,176,0) 100%);
}
.c-slider-fondo-negro
{
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 60%;
    z-index: 1;

    // background: rgba(0,0,0,1);
    // background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(70%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
    // background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    // background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    // background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    // background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    
    background: rgba(255,93,177,1);
    background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(244,32,142,1) 66%, rgba(239,1,124,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(66%, rgba(244,32,142,1)), color-stop(100%, rgba(239,1,124,0)));
    background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(244,32,142,1) 66%, rgba(239,1,124,0) 100%);
    background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(244,32,142,1) 66%, rgba(239,1,124,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(244,32,142,1) 66%, rgba(239,1,124,0) 100%);
    background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(244,32,142,1) 66%, rgba(239,1,124,0) 100%);
}
.c-slider-fondo-rojo
{
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 60%;
    z-index: 1;

    background: rgba(219,54,164,1);
    background: -moz-linear-gradient(left, rgba(219,54,164,1) 0%, rgba(183,16,133,1) 70%, rgba(168,0,119,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219,54,164,1)), color-stop(70%, rgba(183,16,133,1)), color-stop(100%, rgba(168,0,119,0)));
    background: -webkit-linear-gradient(left, rgba(219,54,164,1) 0%, rgba(183,16,133,1) 70%, rgba(168,0,119,0) 100%);
    background: -o-linear-gradient(left, rgba(219,54,164,1) 0%, rgba(183,16,133,1) 70%, rgba(168,0,119,0) 100%);
    background: -ms-linear-gradient(left, rgba(219,54,164,1) 0%, rgba(183,16,133,1) 70%, rgba(168,0,119,0) 100%);
    background: linear-gradient(to right, rgba(219,54,164,1) 0%, rgba(183,16,133,1) 70%, rgba(168,0,119,0) 100%);
}
.c-slider__c-img:nth-child(2)
{
    position: absolute;
    top: 0;
    right: 0;
    height: 500px;
    width: 60%;
    z-index: 0;
}
// .c-slider__c-img img
// {
//     height: inherit;
//     object-fit: cover;
//     object-position: center;
//     width: 100%;
// }
.c-slider__c-img
{
    display: flex;
    justify-content: flex-end;
}

.c-slider__c-img img
{
    height: 500px;
    object-fit: cover;
    object-position: center;
    width: 60%;
}

.flowers-2
{
    position: absolute;
    width: 250px;
    z-index: 3000;
    top: 0;
    right: 50%;
}

.flowers-1
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 560px;
    z-index: 3000;
}

.h-list__logo-search
{
    align-items: center;
    display: flex;
    padding: 10px 0;
    width: 50%;
}

.container-sliders
{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 100%
}

.container-sliders__btns
{
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
    left: 0;
    margin: auto;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 1440px;
    z-index: 2;
}
.container-sliders__lines
{
    align-items: flex-end;
    display: flex;
    height: inherit;
    justify-content: center;
    padding-bottom: 10px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    width: 90%;
    max-width: 1440px;
    z-index: 1;
}
.container-sliders--line
{
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    height: 3px;
    margin-right: 10px;
    opacity: .3;
    transition: .4s;
    width: 15px;
}

.container-sliders--line:last-child { margin-right: 0; }
.fa-chevron-circle-left
{
    color: #ffffff;
    cursor: pointer;
    font-size: 35px;
    opacity: .5;
    padding-left: 10px;
    transition: .4s;
}

.fa-chevron-circle-right
{
    color: #ffffff;
    cursor: pointer;
    font-size: 35px;
    opacity: .5;
    padding-right: 10px;
    transition: .4s;
}
.fa-chevron-circle-left:hover
{
    opacity: 1;
    padding-left: 5px;
}
.fa-chevron-circle-right:hover
{
    opacity: 1;
    padding-right: 5px;
}
.art-sliders
{
    left: 0;
    overflow: hidden;
    right: 0;
    margin: auto;
    max-width: 1440px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.fade
{
    animation-name: fade;
    animation-duration: 1.5s;
}
.line-active { opacity: 1; }

@keyframes fade {
    from { opacity: .4; }
    to { opacity: 1; }
}

.fa-bars { display: none; }