.c-1-index
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.c-1-index__content
{
    padding-bottom: 80px;
    padding-top: 60px;
    width: 1212px;
}

.c-1-index__info
{
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
}

.c-1-index__info--title
{
    font-size: 30px;
    padding-bottom: 30px;
}

.c-1-index__info--p { color: rgb(49, 49, 49); }

.c-1-index__cols
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-top: 40px;
}

.c-1-index__col { text-align: center; }

.c-1-index__col i
{
    color: #C50084;
    font-size: 90px;
    padding-bottom: 30px;
}

.c-1-index__col--title { font-size: 20px; font-weight: bold; }

.c-1-index__col--p { padding-top: 15px; }