.c-product
{
    background-color:#f7d4da;
    width: 100%;
}

.c-product__content
{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    padding-top: 60px;
    width: 90%;
}

.c-product--title
{
    font-size: 24px;
    padding-bottom: 30px;
    text-align: center;
}

.c-product-cols
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 30px;
}

.c-product-col
{
    background-color: #ffffff;
    transition: .5s;
    width: 100%;
}

.c-product-col:hover
{
    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.35);
}

.c-product-col:hover .c-product-col__info--price
{
    font-size: 20px;
    padding-top: 10px;
}

.c-product-col__content
{
    padding-bottom: 40px;
    width: 100%;
}

.c-product-col__fig
{
    height: 250px;
    overflow: hidden;
    width: 100%;
}

.c-product-col__fig--img
{
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.c-product-col__info
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
    width: 80%;
}

.c-product-col__info--p 
{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    width: 100%;
}

.c-product-col__info--price
{
    font-size: 0px;
    padding-top: 0px;
    transition: .5s;
}

.c-product-cols__btn
{
    align-items: center;
    border-radius: 30px;
    border: 2px solid transparent;
    display: flex;
    color: #000000;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3.5rem;
    padding: 8px 0;
    transition: .1s;
    width: 150px;
}

.c-product-cols__btn:hover .fa-arrow-right, 
.c-product-cols__btn:hover .c-product-cols__btn i
{
    font-size: 0;
    padding-left: 0px;
}

.c-product-cols__btn:hover { border: 2px solid #d6939e; }

.c-product-cols__btn--p { transition: .5s; color: black; }

.c-product-cols__btn i { transition: .5s; padding-left: 15px; }

.c { width: 100%; }

.c__content
{
    margin: 0 auto;
    padding: 3rem 0;
    width: 90%;
}

.c--title
{
    font-size: 24px;
    padding-bottom: 30px;
    text-align: center;
}

.c-grid-four
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(24%, 1fr));
    grid-gap: 1vw;
    width: 100%;    
}

.c-grid-four__box
{
    height: 40vh;
    transition: .3s;
    width: 100%;
}

.c-grid-four__box:hover
{
    border: 4px solid #f7d4da;
    padding: 1rem;
}

.c-grid-four__box--img
{
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.c-promo-index
{
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    width: 100%;
}

.c-promo-index__info
{
    align-items: center;
    display: flex;
    background-color: #f1f1f1;
    width: 49.5%;
}

.c-promo-index__fig
{
    height: 300px;
    width: 49.5%;    
}

.c-promo-index__fig--img
{
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.c-promo-index__info__content
{
    margin: 0 auto;
    width: 85%;
}

.c-promo-index__info--description
{
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0;
    line-height: 28px;
}

.c-promo-index__info--details { padding-bottom: 40px; }

.c-promo-index__btn
{
    align-items: center;
    background-color: #C50084;
    border-radius: 5px;
    display: flex;
    height: 40px;
    transition: .3s;
    width: 150px;
}

.c-promo-index__btn--a
{
    align-items: center;
    color: #ffffff;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 100%;
}

.c-promo-index__btn:hover { background-color: #920061; }