{{> header_principal}}

<section class="c-shopping-cart">
    <article class="c-shopping-cart__content">
        <div class="c-shopping-cart__title">
            <p class="c-shopping-cart__title--p">Carrito</p>
            <button class="c-shopping-cart__title--button" type="submit">Comprar todo</button>
        </div>
        <div class="c-shopping-cart__product">
            <figure class="c-shopping-cart__fig">
                <img class="c-shopping-cart__fig--img" src="images/search/5.jpg">
            </figure>
            <div class="c-shopping-cart__p-info">
                <div class="c-shopping-cart__p-info--content">
                    <p class="c-shopping-cart--description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam omnis est ab tenetur amet.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam omnis est ab tenetur amet.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam omnis est ab tenetur amet.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam omnis est ab tenetur amet.

                    </p>
                    <p class="c-shopping-cart--brand">Marca</p>
                    <p class="c-shopping-cart--price">Precio: $500.000</p>
                    <div class="c-shopping-cart__options">
                        <button class="c-shopping-cart--buy" type="submit">Comprar</button>
                        <a class="c-shopping-cart--delete" href="">Eliminar</a>
                        <a class="c-shopping-cart--favourite" href="">Guardar en favoritos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-shopping-cart__product">
            <figure class="c-shopping-cart__fig">
                <img class="c-shopping-cart__fig--img" src="images/search/5.jpg">
            </figure>
            <div class="c-shopping-cart__p-info">
                <div class="c-shopping-cart__p-info--content">
                    <p class="c-shopping-cart--description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam omnis est ab tenetur amet.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam omnis est ab tenetur amet.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam omnis est ab tenetur amet.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam omnis est ab tenetur amet.
                    </p>
                    <p class="c-shopping-cart--brand">Marca</p>
                    <p class="c-shopping-cart--price">Precio: $500.000</p>
                    <div class="c-shopping-cart__options">
                        <button class="c-shopping-cart--buy" type="submit">Comprar</button>
                        <a class="c-shopping-cart--delete" href="">Eliminar</a>
                        <a class="c-shopping-cart--favourite" href="">Guardar en favoritos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-shopping-cart__product">
            <figure class="c-shopping-cart__fig">
                <img class="c-shopping-cart__fig--img" src="images/search/5.jpg">
            </figure>
            <div class="c-shopping-cart__p-info">
                <div class="c-shopping-cart__p-info--content">
                    <p class="c-shopping-cart--description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam omnis est ab tenetur amet.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam omnis est ab tenetur amet.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam omnis est ab tenetur amet.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam omnis est ab tenetur amet.

                    </p>
                    <p class="c-shopping-cart--brand">Marca</p>
                    <p class="c-shopping-cart--price">Precio: $500.000</p>
                    <div class="c-shopping-cart__options">
                        <button class="c-shopping-cart--buy" type="submit">Comprar</button>
                        <a class="c-shopping-cart--delete" href="">Eliminar</a>
                        <a class="c-shopping-cart--favourite" href="">Guardar en favoritos</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>

{{> footer}}