{{> header_principal}}

<section class="c-shopping-cart">
    <article class="c-shopping-cart__content">
        <div class="c-shopping-cart__title">
            <p class="c-shopping-cart__title--p">Carrito</p>
            <button class="c-shopping-cart__title--button" type="submit">Comprar todo</button>
        </div>
        <div class="c-shopping-cart__product">
            <figure class="c-shopping-cart__fig">
                <img class="c-shopping-cart__fig--img" src="images/search/5.jpg">
            </figure>
            <div class="c-shopping-cart__p-info">
                <div class="c-shopping-cart__p-info--content">
                    <p class="c-shopping-cart--description">
                        Cartera para mujer con monedero - alta calidad exclusiva
                    </p>
                    <div class="c-shopping-count-text">
                        <p class="c-shopping-text">Cantidad: </p>
                        <div class="c-shopping-count">
                            <i class="fas fa-minus"></i>
                            <p class="c-shopping-count--p">1</p>
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                    <p class="c-shopping-cart--brand">Marca</p>
                    <p class="c-shopping-cart--price">Precio: $500.000</p>
                    <div class="c-shopping-cart__options">
                        <button class="c-shopping-cart--buy" type="submit">Comprar</button>
                        <a class="c-shopping-cart--delete" href="">Eliminar</a>
                        <a class="c-shopping-cart--favourite" href="">Guardar en favoritos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-shopping-cart__product">
            <figure class="c-shopping-cart__fig">
                <img class="c-shopping-cart__fig--img" src="images/search/5.jpg">
            </figure>
            <div class="c-shopping-cart__p-info">
                <div class="c-shopping-cart__p-info--content">
                    <p class="c-shopping-cart--description">
                        Cartera para mujer con monedero - alta calidad exclusiva
                    </p>
                    <div class="c-shopping-count-text">
                        <p class="c-shopping-text">Cantidad: </p>
                        <div class="c-shopping-count">
                            <i class="fas fa-minus"></i>
                            <p class="c-shopping-count--p">1</p>
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                    <p class="c-shopping-cart--brand">Marca</p>
                    <p class="c-shopping-cart--price">Precio: $500.000</p>
                    <div class="c-shopping-cart__options">
                        <button class="c-shopping-cart--buy" type="submit">Comprar</button>
                        <a class="c-shopping-cart--delete" href="">Eliminar</a>
                        <a class="c-shopping-cart--favourite" href="">Guardar en favoritos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-shopping-cart__product">
            <figure class="c-shopping-cart__fig">
                <img class="c-shopping-cart__fig--img" src="images/search/5.jpg">
            </figure>
            <div class="c-shopping-cart__p-info">
                <div class="c-shopping-cart__p-info--content">
                    <p class="c-shopping-cart--description">
                        Cartera para mujer con monedero - alta calidad exclusiva
                    </p>
                    <div class="c-shopping-count-text">
                        <p class="c-shopping-text">Cantidad: </p>
                        <div class="c-shopping-count">
                            <i class="fas fa-minus"></i>
                            <p class="c-shopping-count--p">1</p>
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                    <p class="c-shopping-cart--brand">Marca</p>
                    <p class="c-shopping-cart--price">Precio: $500.000</p>
                    <div class="c-shopping-cart__options">
                        <button class="c-shopping-cart--buy" type="submit">Comprar</button>
                        <a class="c-shopping-cart--delete" href="">Eliminar</a>
                        <a class="c-shopping-cart--favourite" href="">Guardar en favoritos</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>

{{> footer}}