{{> header_principal}}

<section class="row-100">
  <article class="row-80 flex-justify padding-tb">
    <figure class="cont-img-contact">
      <img class="img-100" src="images/contacto.jpg">
    </figure>
    <div class="cont-info-contact">
      <div class="cont-info-contact__content">
        <h3 class="cont-info-contact__content--h3">Contacto</h3>
        <p class="cont-info-contact__content--p">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi cum inventore quam, quasi quaerat architecto
        </p>
        <form class="cont-info-contact__form" action="/contact" method="POST">
          <div class="form-cmp-x2">
            <div class="cont-imput">
              <input class="" type="text" placeholder="Nombre" name="name" required>
            </div>
            <div class="cont-imput">
              <input class="" type="number" placeholder="Número teléfono" name="numberPhone" required>
            </div>
          </div>
          <div class="form-cmp-x1">
            <input class="" type="text" placeholder="Correo" name="email" required>
          </div>
          <div class="form-txtarea">
            <textarea class="" name="message" placeholder="Mensaje" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="cont-btn-form">
            <button class="btn-form">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </article>
</section>

{{> footer}}