{{> header_principal}}

<section class="c-slider">
    <div class="c-slider__txt">
        <div class="c-slider__txt__content">
            <img class="c-slider__logo" src="images/slider/logo.png">
            <div class="c-slider__info">
                {{!-- Cambiar este textos --}}
                <h1 class="c-slider__info--h1">
                    Producto más <br> vendido del mes.
                </h1>
                <p class="c-slider__info--p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto porro impedit officia quibusdam libero fugit debitis earum, possimus magnam voluptatibus alias, aliquam laboriosam vero atque quidem aut ex, praesentium fugiat!
                </p>
            </div>
        </div>
    </div>
    <div class="c-slider__c-imgs">
        <img class="flowers-1" src="images/slider/flowers-1.png">
        <img class="flowers-2" src="images/slider/flowers-2.png">
        <div class="c-slider-fondo-rosa"></div>
        <figure class="c-slider__c-img">
            {{!-- Cambiar esta imagen --}}
            <img src="images/productos/2.jpg"> 
        </figure>
    </div>
</section>

<section class="c-1-index">
    <article class="c-1-index__content">
        <div class="c-1-index__info">
            <p class="c-1-index__info--title">Tienda Ctiam</p>
            <p class="c-1-index__info--p">
              Seguidamente ofrecemos un breve resumen de los tres  <br>
              pasos que se llevan a cabo en la tienda virtual <b>Ctiam.</b>
            </p>
        </div>
        <div class="c-1-index__cols">
            <div class="c-1-index__col">
                <i class="fas fa-shield-alt"></i>
                <p class="c-1-index__col--title">Compra segura</p>
                <p class="c-1-index__col--p">
                    Nuestra comunidad quiere lo mejor para ti
                    por eso protegemos su compra íntegramente.
                </p>
            </div>
            <div class="c-1-index__col">
                <i class="fas fa-headset"></i>
                <p class="c-1-index__col--title">Centro de ayuda</p>
                <p class="c-1-index__col--p">
                    Te orientamos para que puedas 
                    comprar nuestros productos sin 
                    el meno incoveniente.
                </p>
            </div>
            <div class="c-1-index__col">
                <i class="fas fa-shipping-fast"></i>
                <p class="c-1-index__col--title">Envios nacionales</p>
                <p class="c-1-index__col--p">
                    Contamos servicios de entrega 
                    a cualquier parte del pais de manera 
                    agil y segura.
                </p>
            </div>
        </div>
    </article>
</section>

<section class="c-product">
    <article class="c-product__content">
        <p class="c-product--title">Más populares</p>

        <div class="c-product-cols">
            <div class="c-product-col">
                <div class="c-product-col__content">
                    <figure class="c-product-col__fig">
                        <img class="c-product-col__fig--img" src="images/productos/1.jpg">
                    </figure>
                    <div class="c-product-col__info">
                        <p class="service-index__info--title">Lorem Ipsum</p>
                        <p class="c-product-col__info--p">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam aut aliquid facilis 
                        </p>
                        <div class="btn">
                            <a href="">Ver más</a>
                        </div>
                        {{!-- <p class="c-product-col__info--price">$ 26.000</p> --}}
                    </div>
                </div>
            </div>
            <div class="c-product-col">
                <div class="c-product-col__content">
                    <figure class="c-product-col__fig">
                        <img class="c-product-col__fig--img" src="images/productos/2.jpg">
                    </figure>
                    <div class="c-product-col__info">
                        <p class="service-index__info--title">Lorem Ipsum</p>
                        <p class="c-product-col__info--p">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam aut aliquid facilis 
                        </p>
                        {{!-- <p class="c-product-col__info--price">$ 29.000</p> --}}
                        <div class="btn">
                            <a href="">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-product-col">
                <div class="c-product-col__content">
                    <figure class="c-product-col__fig">
                        <img class="c-product-col__fig--img" src="images/productos/3.jpg">
                    </figure>
                    <div class="c-product-col__info">
                        <p class="c-product-col__info--p">
                          <p class="service-index__info--title">Lorem Ipsum</p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam aut aliquid facilis 
                        </p>
                        <div class="btn">
                            <a href="">Ver más</a>
                        </div>
                        {{!-- <p class="c-product-col__info--price">$ 36.000</p> --}}
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>

<div style="width: 90%; margin: 0 auto; padding-bottom: 3rem">
    <div style="font-size: 25px; padding: 3rem 0;">Ofertas</div>
    <div class="slideshow">
        <ul class="slider">
            <li class="li-dark">
                <img src="images/slider/ctiam1.jpg">
                <section class="caption">
                    {{!-- <h1>CTIAM</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio id quibusdam totam delectus at reprehenderit.</p> --}}
                </section>
            </li>
            <li class="li-dark">
                <img src="images/slider/ctiam2.jpg">
                <section class="caption">
                    {{!-- <h1>APRENDIZAJE</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio id quibusdam totam delectus at reprehenderit.</p> --}}
                </section>
            </li>
            <li class="li-dark">
                <img src="images/slider/ctiam3.jpg">
                <section class="caption">
                    {{!-- <h1>PRODUCTOS</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio id quibusdam totam delectus at reprehenderit.</p> --}}
                </section>
            </li>
            <li class="li-dark">
                <img src="images/slider/ctiam4.jpg">
                <section class="caption">
                    {{!-- <h1>CHARLAS</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio id quibusdam totam delectus at reprehenderit.</p> --}}
                </section>
            </li>
        </ul>
        <ol class="pagination"></ol>
        </div>
</div>

{{!-- 
<section class="row-100 flex padding-tb">
    <div class="row-50">
        <div class="row-60">
            <h2 class="title-2">Lorem ipsum</h2>
            <p class="txt-normal">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi illum ratione asperiores nam? Maxime delectus
              corrupti animi ducimus perspiciatis, numquam cum, id quidem quibusdam exercitationem suscipit sapiente earum
              dicta.
            </p>
            <a class="btn-form" href="">Ver más</a>
        </div>
    </div>
    <div class="row-50">
        <figure class="img-section-r">
            <img class="img-100" src="images/index/2.JPG">
        </figure>
    </div>
</section>


<section class="row-100 flex bcolor-fd">
    <figure class="row-50">
        <img class="img-100" src="images/index/1.JPG">
    </figure>
    <div class="row-50">
        <div class="row-80">
            <h2 class="title-2">Ofertas <br>de la semana.</h2>
            <p class="txt-normal">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi illum ratione asperiores nam? Maxime delectus
              corrupti animi ducimus perspiciatis, numquam cum, id quidem quibusdam exercitationem suscipit sapiente earum
              dicta.
            </p>
            <a class="btn-form" href="">Ver más</a>
        </div>
    </div>
</section> --}}

<script src="js/main.js"></script>
<script src="js/modalLogin.js"></script>
<script src="js/modal-category.js"></script>
{{> footer}}