<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/modal.css">
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/0dc3b1d201.js" crossorigin="anonymous"></script>
	<link rel="icon" type="ico/png" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div class="modal" data-visible={{modal}}>
        <div class="modal__content">
            <form action="/login/signin" method="POST">
                <p>Iniciar sesión</p>
                <div>
                    <input type="text"  placeholder="Correo electrónico" id="correo" name="email" required>
                </div>
                <div>
                    <input type="password"  placeholder="Contraseña" id="password" name="password" required>
                </div>
                <!-- <div>
                    <input type="date"  placeholder="Fecha" id="fecha" name="fecha" required>
                </div> -->
                <button class="btn-modal blue" type="submit">Entrar</button>
                <button class="btn-gris" type="reset">Borrar información</button>
                <i class="fas fa-times-circle cerrar"></i>
            </form>
        </div>
    </div>

    <header class="row-100">
        <nav class="row-80 flex-justify">
            <img class="logo-header" src="images/logo.png">
            <ul class="menu flex-justify">
                <li class="menu__li"><a class="menu__li--a" href="">Inicio</a></li>
                <li class="menu__li"><a class="menu__li--a" href="">Servicios</a></li>
                <li class="menu__li"><a class="menu__li--a" href="">Blog</a></li>
                <li class="menu__li"><a class="menu__li--a" href="">Contacto</a></li>
                <li class="menu__li"><a class="abrir menu__li--a txt-blue" href="">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>

    <section class="slider">
        <article class="slider__info">
            <h1 class="slider__info--h1">
                Nos preocupamos <br> por tu bienestar.
            </h1>
            <p class="slider__info--p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi accusamus, soluta a placeat aliquid quisquam quidem asperiores eaque reprehenderit. Dolor dicta hic architecto velit accusamus ex sunt suscipit, sint commodi?
            </p>
        </article>
    </section>

    <section class="row-100 sec-services">
        <h2 class="title-service">Nuestros servicios</h2>
        <article class="row-80 flex-justify">
            <div class="service-index">
                <figure class="service-index__figure">
                    <img class="service-index__figure--img" src="images/index-services/1.jpg">
                </figure>
                <div class="service-index__info">
                    <p class="service-index__info--title">Lorem Ipsum</p>
                    <p class="service-index__info--p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Excepturi accusamus, soluta a placeat aliquid quisquam
                    </p>
                    <div class="btn">
                        <a href="">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="service-index">
                <figure class="service-index__figure">
                    <img class="service-index__figure--img" src="images/index-services/2.jpg">
                </figure>
                <div class="service-index__info">
                    <p class="service-index__info--title">Lorem Ipsum</p>
                    <p class="service-index__info--p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Excepturi accusamus, soluta a placeat aliquid quisquam
                    </p>
                    <div class="btn">
                        <a class="btn-a" href="">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="service-index">
                <figure class="service-index__figure">
                    <img class="service-index__figure--img" src="images/index-services/3.jpg">
                </figure>
                <div class="service-index__info">
                    <p class="service-index__info--title">Lorem Ipsum</p>
                    <p class="service-index__info--p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Excepturi accusamus, soluta a placeat aliquid quisquam
                    </p>
                    <div class="btn">
                        <a href="">Ver más</a>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <section class="row-100 flex bcolor-fd">
        <figure class="row-50">
            <img class="img-100" src="images/index/1.JPG">
        </figure>
        <div class="row-50">
            <div class="row-80">
                <h2 class="title-2">Nos preocupamos <br> por tu bienestar</h2>
                <p class="txt-normal">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi illum ratione asperiores nam? Maxime delectus corrupti animi ducimus perspiciatis, numquam cum, id quidem quibusdam exercitationem suscipit sapiente earum dicta.
                </p>
                <a class="btn-form" href="">Ver más</a>
            </div>
        </div>
    </section>

    <section class="row-100 flex padding-tb">
        <div class="row-50">
            <div class="row-60">
                <h2 class="title-2">Lorem ipsum</h2>
                <p class="txt-normal">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi illum ratione asperiores nam? Maxime delectus corrupti animi ducimus perspiciatis, numquam cum, id quidem quibusdam exercitationem suscipit sapiente earum dicta.
                </p>
                <a class="btn-form" href="">Ver más</a>
            </div>
        </div>
        <div class="row-50">
            <figure class="img-section-r">
                <img class="img-100" src="images/index/2.JPG">
            </figure>
        </div>
    </section>

    <footer class="row-100">
        <div class="row-100">
            <div class="row-90 flex-justify padding-tb-mini flex-align-top">
                <img class="logo-footer" src="images/logofooter.png">
                <ul class="navegacion-footer">
                    <p class="title-footer-p">Conócenos</p>
                    <li class="navegacion-footer__li"><a class="navegacion-footer__li--a" href="">Servicios</a></li>
                    <li class="navegacion-footer__li"><a class="navegacion-footer__li--a" href="">Blog</a></li>
                    <li class="navegacion-footer__li"><a class="navegacion-footer__li--a" href="">Contacto</a></li>
                </ul>
                <ul class="">
                    <p class="title-footer-p">Social Media</p>
                    <div class="socialmedia-footer">
                        <li class="socialmedia-footer__li">
                            <a href=""><img class="socialmedia-footer__li--img" src="images/icos/instagram.svg"></a>
                        </li>
                        <li class="socialmedia-footer__li">
                            <a href=""><img class="socialmedia-footer__li--img" src="images/icos/facebook.svg"></a>
                        </li>
                        <li class="socialmedia-footer__li">
                            <a href=""><img class="socialmedia-footer__li--img" src="images/icos/twitter.svg"></a>
                        </li>
                        <li class="socialmedia-footer__li">
                            <a href=""><img class="socialmedia-footer__li--img" src="images/icos/linkedin.svg"></a>
                        </li>
                        <li class="socialmedia-footer__li">
                            <a href=""><img class="socialmedia-footer__li--img" src="images/icos/youtube.svg"></a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="Copyright-footer">
            <p>Copyright © 2020. Todos los derechos reservados</p>
        </div>
    </footer>

    <script src="js/modal.js"></script>
    <script src="js/addproject.js"></script>
</body>
</html>