{{> header_principal}}

<div class="c-list-product">
    <section class="c-list-products">
        <aside class="c-filter">
            <h2 class="c-filter--h2">Filtros</h2>
            <ul class="c-filter__ul">
                <p class="c-filter--brand">Marca</p>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
            </ul>

            <ul class="c-filter__ul">
                <p class="c-filter--brand">Precio</p>
                <input type="range" min="5" max="10" step="0.01">
            </ul>

        </aside>
        <article class="c-list-products__grid">
            <a class="c-list-products__grid--a" href="">
                <div class="c-list-products__grid-content">
                    <figure class="c-list-products__figure">
                        <img class="c-list-products__figure--img" src="images/search/1.jpg">
                    </figure>
                    <div class="c-list-products__info">
                        <div class="c-list-products__info-content">
                            <p class="c-list-products--price">$ 55.000</p>
                            <p class="c-list-products--brand">Marca</p>
                            <p class="c-list-products--name">
                                Bolso para dama - más descripción
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="c-list-products__grid--a" href="">
                <div class="c-list-products__grid-content">
                    <figure class="c-list-products__figure">
                        <img class="c-list-products__figure--img" src="images/search/2.jpg">
                    </figure>
                    <div class="c-list-products__info">
                        <div class="c-list-products__info-content">
                            <p class="c-list-products--price">$ 55.000</p>
                            <p class="c-list-products--brand">Marca</p>
                            <p class="c-list-products--name">
                                Bolso para dama - más descripción
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="c-list-products__grid--a" href="">
                <div class="c-list-products__grid-content">
                    <figure class="c-list-products__figure">
                        <img class="c-list-products__figure--img" src="images/search/3.jpg">
                    </figure>
                    <div class="c-list-products__info">
                        <div class="c-list-products__info-content">
                            <p class="c-list-products--price">$ 55.000</p>
                            <p class="c-list-products--brand">Marca</p>
                            <p class="c-list-products--name">
                                Bolso para dama - más descripción
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="c-list-products__grid--a" href="">
                <div class="c-list-products__grid-content">
                    <figure class="c-list-products__figure">
                        <img class="c-list-products__figure--img" src="images/search/4.jpg">
                    </figure>
                    <div class="c-list-products__info">
                        <div class="c-list-products__info-content">
                            <p class="c-list-products--price">$ 55.000</p>
                            <p class="c-list-products--brand">Marca</p>
                            <p class="c-list-products--name">
                                Bolso para dama - más descripción
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="c-list-products__grid--a" href="">
                <div class="c-list-products__grid-content">
                    <figure class="c-list-products__figure">
                        <img class="c-list-products__figure--img" src="images/search/5.jpg">
                    </figure>
                    <div class="c-list-products__info">
                        <div class="c-list-products__info-content">
                            <p class="c-list-products--price">$ 55.000</p>
                            <p class="c-list-products--brand">Marca</p>
                            <p class="c-list-products--name">
                                Bolso para dama - más descripción
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="c-list-products__grid--a" href="">
                <div class="c-list-products__grid-content">
                    <figure class="c-list-products__figure">
                        <img class="c-list-products__figure--img" src="images/search/6.jpg">
                    </figure>
                    <div class="c-list-products__info">
                        <div class="c-list-products__info-content">
                            <p class="c-list-products--price">$ 55.000</p>
                            <p class="c-list-products--brand">Marca</p>
                            <p class="c-list-products--name">
                                Bolso para dama - más descripción
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </article>
        </section>
</div>

<script src="js/modal-category.js"></script>
{{> footer}}