{{> header_principal}}

<section class="c-profile-store">
    <article class="c-profile-store__content">
        <div class="c-profile-store__photo-banner">
            <figure class="c-profile-store__fig">
                <img class="c-profile-store__fig--img" src="images/banner-store/2.jpg">
            </figure>
            <div class="c-profile-store__photo">
                <img class="c-profile-store__photo--img" src="images/photo-store/1.jpg">
            </div>
        </div>
        <div class="c-profile-store__info">
            <h1 class="c-profile-store__info--h1">
                POSTRES Y PONQUES DON JACOBO
            </h1>
            <p class="c-profile-store__info--p">
                Más de 29 años endulzando a nuestros clientes en Colombia
            </p>
            <a class="c-profile-store__info--a" href="http://donjacobopasteleria.com/">http://donjacobopasteleria.com/</a>
        </div>
        <div class="c-profile-store__grid">
            <a href="">
                <div class="c-profile-store__product">
                    <img class="c-profile-store__product--img" src="images/categorias/postres2.jpg">
                    <div class="c-profile-store__info-product">
                        <p class="c-profile-store__info-product--p">Postre de fresas con chocolate con frambuesas</p>
                        <p class="c-profile-store__info-product--price">$ 50.000</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="c-profile-store__product">
                    <img class="c-profile-store__product--img" src="images/categorias/pastel2.jpg">
                    <div class="c-profile-store__info-product">
                        <p class="c-profile-store__info-product--p">Postre de fresas con chocolate con frambuesas</p>
                        <p class="c-profile-store__info-product--price">$ 50.000</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="c-profile-store__product">
                    <img class="c-profile-store__product--img" src="images/categorias/pastel3.jpg">
                    <div class="c-profile-store__info-product">
                        <p class="c-profile-store__info-product--p">Postre de fresas con chocolate con frambuesas</p>
                        <p class="c-profile-store__info-product--price">$ 50.000</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="c-profile-store__product">
                    <img class="c-profile-store__product--img" src="images/categorias/pastel2.jpg">
                    <div class="c-profile-store__info-product">
                        <p class="c-profile-store__info-product--p">Postre de fresas con chocolate con frambuesas</p>
                        <p class="c-profile-store__info-product--price">$ 50.000</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="c-profile-store__product">
                    <img class="c-profile-store__product--img" src="images/categorias/pastel3.jpg">
                    <div class="c-profile-store__info-product">
                        <p class="c-profile-store__info-product--p">Postre de fresas con chocolate con frambuesas</p>
                        <p class="c-profile-store__info-product--price">$ 50.000</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="c-profile-store__product">
                    <img class="c-profile-store__product--img" src="images/categorias/postres2.jpg">
                    <div class="c-profile-store__info-product">
                        <p class="c-profile-store__info-product--p">Postre de fresas con chocolate con frambuesas</p>
                        <p class="c-profile-store__info-product--price">$ 50.000</p>
                    </div>
                </div>
            </a>
        </div>
    </article>
</section>

{{> footer}}