{{> header_principal}}
<div class="c-title-questions">
    <h1>Preguntas Frecuentes CTIAM</h1>
</div>
<div class="c-preguntas-frecuentes">
    <ul class="c-preguntas-frecuentes__ul">
        <div class="c-preguntas-frecuentes__box">
            <li class="c-preguntas-frecuentes__li" data-resp_id="resp_1">
                <span>¿Cómo pagar tu compra?</span>
                <i class="ico_resp fas fa-angle-down"></i>
            </li>
            <li class="c-preguntas-frecuentes__respuesta" id="resp_1">
            <span id="sp_resp_1">
                Los koalas son animales herbívoros que tienen una dieta poco variada. Se alimentan de hojas de eucalipto
                </span>
            </li>
        </div>
    
        <div class="c-preguntas-frecuentes__box">
            <li class="c-preguntas-frecuentes__li" data-resp_id="resp_2">
                <span>¿Cómo recibir el producto?</span>
                <i class="ico_resp fas fa-angle-down"></i>
            </li>
            <li class="c-preguntas-frecuentes__respuesta" id="resp_2">
                <span id="sp_resp_2">Los koalas son animales herbívoros que tienen una dieta poco variada. Se alimentan de hojas de eucalipto.</span>
            </li>
        </div>

        <div class="c-preguntas-frecuentes__box">
            <li class="c-preguntas-frecuentes__li" data-resp_id="resp_3">
                <span>¿Cómo protegemos a los compradores?</span>
                <i class="ico_resp fas fa-angle-down"></i>
            </li>
            <li class="c-preguntas-frecuentes__respuesta" id="resp_3">
                <span id="sp_resp_3">Los koalas son animales herbívoros que tienen una dieta poco variada. Se alimentan de hojas de eucalipto.</span>
            </li>
        </div>

        <div class="c-preguntas-frecuentes__box">
            <li class="c-preguntas-frecuentes__li" data-resp_id="resp_4">
                <span>Ventas, Cobros y envíos</span>
                <i class="ico_resp fas fa-angle-down"></i>
            </li>
            <li class="c-preguntas-frecuentes__respuesta" id="resp_4">
                <span id="sp_resp_4">Los koalas son animales herbívoros que tienen una dieta poco variada. Se alimentan de hojas de eucalipto.</span>
            </li>
        </div>

        <div class="c-preguntas-frecuentes__box">
            <li class="c-preguntas-frecuentes__li" data-resp_id="resp_5">
                <span>Cargos y facturación de CTIAM</span>
                <i class="ico_resp fas fa-angle-down"></i>
            </li>
            <li class="c-preguntas-frecuentes__respuesta" id="resp_5">
                <span id="sp_resp_5">Los koalas son animales herbívoros que tienen una dieta poco variada. Se alimentan de hojas de eucalipto.</span>
            </li>
        </div>

        <div class="c-preguntas-frecuentes__box">
            <li class="c-preguntas-frecuentes__li" data-resp_id="resp_6">
                <span>¿Puedo hacer compras si vivo en el extranjero?</span>
                <i class="ico_resp fas fa-angle-down"></i>
            </li>
            <li class="c-preguntas-frecuentes__respuesta" id="resp_6">
                <span id="sp_resp_6">Los koalas son animales herbívoros que tienen una dieta poco variada. Se alimentan de hojas de eucalipto.</span>
            </li>
        </div>

        <div class="c-preguntas-frecuentes__box">
            <li class="c-preguntas-frecuentes__li" data-resp_id="resp_7">
                <span>¿Cómo protegemos a los vendedores?</span>
                <i class="ico_resp fas fa-angle-down"></i>
            </li>
            <li class="c-preguntas-frecuentes__respuesta" id="resp_7">
                <span id="sp_resp_7">Los koalas son animales herbívoros que tienen una dieta poco variada. Se alimentan de hojas de eucalipto.</span>
            </li>
        </div>

        <div class="c-preguntas-frecuentes__box">
            <li class="c-preguntas-frecuentes__li" data-resp_id="resp_8">
                <span>Devoluciones y cambios</span>
                <i class="ico_resp fas fa-angle-down"></i>
            </li>
            <li class="c-preguntas-frecuentes__respuesta" id="resp_8">
                <span id="sp_resp_8">Los koalas son animales herbívoros que tienen una dieta poco variada. Se alimentan de hojas de eucalipto.</span>
            </li>
        </div>

        <div class="c-preguntas-frecuentes__box">
            <li class="c-preguntas-frecuentes__li" data-resp_id="resp_9">
                <span>¿Qué hago cuando quiero anular una compra?</span>
                <i class="ico_resp fas fa-angle-down"></i>
            </li>
            <li class="c-preguntas-frecuentes__respuesta" id="resp_9">
                <span id="sp_resp_9">Los koalas son animales herbívoros que tienen una dieta poco variada. Se alimentan de hojas de eucalipto.</span>
            </li>
        </div>
    </ul>
</div>

<!-- Script para controlar la lista de preguntas -->
<script src="js/questions.js"></script>

{{> footer}}