{{> header_principal}}

<section class="c-stores">
    <article class="c-stores__content">
        <p class="c-stores--title">Tiendas destacadas</p>
        <div class="c-stores__grid">
            <div class="c-stores__store">
                <div class="c-stores__store-info">
                    <figure class="c-stores__fig">
                        <img class="c-stores__fig--img" src="images/photo-store/1.jpg">
                    </figure>
                    <div class="c-stores__text">
                        <p class="c-stores__text--name">Purple store</p>
                        <p class="c-stores__text--description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ab ipsum nam vel 
                        </p>
                    </div>
                </div>
                <div class="c-stores__store-imgs">
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                </div>
            </div>
            <div class="c-stores__store">
                <div class="c-stores__store-info">
                    <figure class="c-stores__fig">
                        <img class="c-stores__fig--img" src="images/photo-store/1.jpg">
                    </figure>
                    <div class="c-stores__text">
                        <p class="c-stores__text--name">Purple store</p>
                        <p class="c-stores__text--description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ab ipsum nam vel 
                        </p>
                    </div>
                </div>
                <div class="c-stores__store-imgs">
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                </div>
            </div>
            <div class="c-stores__store">
                <div class="c-stores__store-info">
                    <figure class="c-stores__fig">
                        <img class="c-stores__fig--img" src="images/photo-store/1.jpg">
                    </figure>
                    <div class="c-stores__text">
                        <p class="c-stores__text--name">Purple store</p>
                        <p class="c-stores__text--description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ab ipsum nam vel 
                        </p>
                    </div>
                </div>
                <div class="c-stores__store-imgs">
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                </div>
            </div>
            <div class="c-stores__store">
                <div class="c-stores__store-info">
                    <figure class="c-stores__fig">
                        <img class="c-stores__fig--img" src="images/photo-store/1.jpg">
                    </figure>
                    <div class="c-stores__text">
                        <p class="c-stores__text--name">Purple store</p>
                        <p class="c-stores__text--description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ab ipsum nam vel 
                        </p>
                    </div>
                </div>
                <div class="c-stores__store-imgs">
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                </div>
            </div>
            <div class="c-stores__store">
                <div class="c-stores__store-info">
                    <figure class="c-stores__fig">
                        <img class="c-stores__fig--img" src="images/photo-store/1.jpg">
                    </figure>
                    <div class="c-stores__text">
                        <p class="c-stores__text--name">Purple store</p>
                        <p class="c-stores__text--description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ab ipsum nam vel 
                        </p>
                    </div>
                </div>
                <div class="c-stores__store-imgs">
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                </div>
            </div>
            <div class="c-stores__store">
                <div class="c-stores__store-info">
                    <figure class="c-stores__fig">
                        <img class="c-stores__fig--img" src="images/photo-store/1.jpg">
                    </figure>
                    <div class="c-stores__text">
                        <p class="c-stores__text--name">Purple store</p>
                        <p class="c-stores__text--description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ab ipsum nam 
                        </p>
                    </div>
                </div>
                <div class="c-stores__store-imgs">
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                </div>
            </div>
            <div class="c-stores__store">
                <div class="c-stores__store-info">
                    <figure class="c-stores__fig">
                        <img class="c-stores__fig--img" src="images/photo-store/1.jpg">
                    </figure>
                    <div class="c-stores__text">
                        <p class="c-stores__text--name">Purple store</p>
                        <p class="c-stores__text--description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ab ipsum nam vel 
                        </p>
                    </div>
                </div>
                <div class="c-stores__store-imgs">
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                </div>
            </div>
            <div class="c-stores__store">
                <div class="c-stores__store-info">
                    <figure class="c-stores__fig">
                        <img class="c-stores__fig--img" src="images/photo-store/1.jpg">
                    </figure>
                    <div class="c-stores__text">
                        <p class="c-stores__text--name">Purple store</p>
                        <p class="c-stores__text--description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ab ipsum nam vel 
                        </p>
                    </div>
                </div>
                <div class="c-stores__store-imgs">
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                </div>
            </div>
            <div class="c-stores__store">
                <div class="c-stores__store-info">
                    <figure class="c-stores__fig">
                        <img class="c-stores__fig--img" src="images/photo-store/1.jpg">
                    </figure>
                    <div class="c-stores__text">
                        <p class="c-stores__text--name">Purple store</p>
                        <p class="c-stores__text--description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ab ipsum nam vel 
                        </p>
                    </div>
                </div>
                <div class="c-stores__store-imgs">
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                    <figure class="c-stores__store-fig">
                        <img class="c-stores__store--img" src="images/categorias/shoe.jpg">
                    </figure>
                </div>
            </div>
        </div>
        {{!-- <a class="c-stores-index__a" href="">
            <p class="c-stores-index__a--p">Ver más</p>
            <i class="fas fa-arrow-right"></i>
        </a> --}}
    </article>
</section>

<script src="js/modal-category.js"></script>
{{> footer}}