{{> header_principal}}

<section class="c-view-product">
    <article class="c-view-product__content">
        <div class="c-view-product__images">
            <div class="c-view-product__list-images"></div>
            <div class="c-view-product__image">
                <img class="c-view-product__image--img" src="">
            </div>
        </div>
        <div class="c-view-product__description">
            <p class="c-view-product__description--stock">27 disponibles</p>
            <p class="c-view-product__description--name-produc">Billetera para mujer con monedero - alta calidad exclusiva</p>
            <p class="c-view-product__description--price">$ 500.000</p>
            <ul class="c-view-product__details">
                <li class="c-view-product__details__li">
                    <i class="fas fa-store"></i>
                    <p class="c-view-product__details__li--p">Vendido por <b>Tienda CTIAM</b></p>
                </li>
                <li class="c-view-product__details__li">
                    <i class="fas fa-truck"></i>
                    <p class="c-view-product__details__li--p">Precio de envio <b>A calcular</b></p>
                </li>
                <li class="c-view-product__details__li">
                    <i class="far fa-check-circle"></i>
                    <p class="c-view-product__details__li--p">Garantia del producto <b>1 año</b></p>
                </li>
            </ul>
            <div class="c-view-product__colours">
                <p class="c-view-product__colours--p">Color</p>
                <div class="c-view-product__buy">
                    <select class="c-view-product__buy--select" name="" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <button class="c-view-product__buy--button" type="">Comprar</button>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="c-details-product">
    <article class="c-details-product__content">
        <div class="c-details-product__info">
            <p class="c-details-product__info--p">Especificaciones</p>
            <button class="c-details-product__info--button" onclick=""><i class="fas fa-plus"></i></button>
        </div>
        <div class="c-details-product__info">
            <p class="c-details-product__info--p">Sobre este producto</p>
            <button class="c-details-product__info--button" onclick=""><i class="fas fa-plus"></i></button>
        </div>
        <div class="c-details-product__comments">
            <div class="c-details-product__comments__content">
                <p class="c-details-product--p">Comentarios</p>
                <div class="c-details-product__comment">
                    <p class="c-details-product__comment--p">Nombre de usuario</p>
                    <div class="c-details-product__stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="c-details-product__text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto repellendus amet minus eum, inventore molestias quisquam quos libero illo cupiditate quo laboriosam id nam, harum quas, sapiente est consequuntur eaque?
                    </p>
                </div>
                <div class="c-details-product__comment">
                    <p class="c-details-product__comment--p">Nombre de usuario</p>
                    <div class="c-details-product__stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p class="c-details-product__text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto repellendus amet minus eum, inventore molestias quisquam quos libero illo cupiditate quo laboriosam id nam, harum quas, sapiente est consequuntur eaque?
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="c-products-recommended">
    <article class="c-products-recommended__content">
        <p class="c-products-recommended--p">Productos relacionados</p>
        <div class="c-products-recommended__grid">
            <a class="c-products-recommended__product" href="">
                <img class="c-products-recommended__product--img" src="images/search/8.jpg">
            </a>
            <a class="c-products-recommended__product" href="">
                <img class="c-products-recommended__product--img" src="images/search/9.jpg">
            </a>
            <a class="c-products-recommended__product" href="">
                <img class="c-products-recommended__product--img" src="images/search/10.jpg">
            </a>
            <a class="c-products-recommended__product" href="">
                <img class="c-products-recommended__product--img" src="images/search/11.jpg">
            </a>
            <a class="c-products-recommended__product" href="">
                <img class="c-products-recommended__product--img" src="images/search/12.jpg">
            </a>
            <a class="c-products-recommended__product" href="">
                <img class="c-products-recommended__product--img" src="images/search/13.jpg">
            </a>
        </div>
    </article>
</section>

{{> footer}}