{{> header_principal}}

<section class="c-view-product">
    <article class="c-view-product__content">
        <div class="c-view-product__images">
            <div class="c-view-product__list-images"></div>
            <div class="c-view-product__image">
                <img class="c-view-product__image--img" src="">
            </div>
        </div>
        <div class="c-view-product__description">
            <p class="c-view-product__description--stock">27 disponibles</p>
            <p class="c-view-product__description--name-produc">Billetera para mujer con monedero - alta calidad exclusiva</p>
            <p class="c-view-product__description--price">$ 500.000</p>
            <ul class="c-view-product__details">
                <li class="c-view-product__details__li">
                    <i class="fas fa-store"></i>
                    <p class="c-view-product__details__li--p">Vendido por <b>Tienda CTIAM</b></p>
                </li>
                <li class="c-view-product__details__li">
                    <i class="fas fa-truck"></i>
                    <p class="c-view-product__details__li--p">Precio de envio <b>A calcular</b></p>
                </li>
                <li class="c-view-product__details__li">
                    <i class="far fa-check-circle"></i>
                    <p class="c-view-product__details__li--p">Garantia del producto <b>1 año</b></p>
                </li>
            </ul>
            <div class="c-view-product__colours">
                <p class="c-view-product__colours--p">Color</p>
                <div class="c-view-product__buy">
                    <select class="c-view-product__buy--select" name="" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <button class="c-view-product__buy--button" type="">Comprar</button>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="c-">
    <article class="">
        <div class="">
            <p class="">Especificaciones</p>
            <button class="" onclick=""><i class="fas fa-plus"></i></button>
        </div>
        <div class="">
            <p class="">Sobre este producto</p>
            <button class="" onclick=""><i class="fas fa-plus"></i></button>
        </div>
        <div class="">
            <div class="">
                <p class="">Comentarios</p>
                <div class="">
                    <p class="">Nombre de usuario</p>
                    <div class="">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto repellendus amet minus eum, inventore molestias quisquam quos libero illo cupiditate quo laboriosam id nam, harum quas, sapiente est consequuntur eaque?
                    </p>
                </div>
                <div class="">
                    <p class="">Nombre de usuario</p>
                    <div class="">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p class="">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto repellendus amet minus eum, inventore molestias quisquam quos libero illo cupiditate quo laboriosam id nam, harum quas, sapiente est consequuntur eaque?
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="">
    <article class="">
        <p class="">Productos relacionados</p>
        <div class="">
            <a class="" href="">
                <img class="" src="images/">
            </a>
            <a class="" href="">
                <img class="" src="images/">
            </a>
            <a class="" href="">
                <img class="" src="images/">
            </a>
            <a class="" href="">
                <img class="" src="images/">
            </a>
            <a class="" href="">
                <img class="" src="images/">
            </a>
            <a class="" href="">
                <img class="" src="images/">
            </a>
        </div>
    </article>
</section>

{{> footer}}