{{> header_principal}}

<section class="c-view-product">
    <article class="c-view-product__content">
        <div class="c-view-product__images">
            <div class="c-view-product__list-images"></div>
            <div class="c-view-product__image">
                <img class="c-view-product__image--img" src="">
            </div>
        </div>
        <div class="c-view-product__description">
            <p class="c-view-product__description--stock">27 disponibles</p>
            <p class="c-view-product__description--name-produc">Billetera para mujer con monedero - alta calidad exclusiva</p>
            <p class="c-view-product__description--price">$ 500.000</p>
            <ul class="c-view-product__details">
                <li class="c-view-product__details__li">
                    <i class="fas fa-store"></i>
                    <p class="c-view-product__details__li--p">Vendido por <b>Tienda CTIAM</b></p>
                </li>
                <li class="c-view-product__details__li">
                    <i class="fas fa-truck"></i>
                    <p class="c-view-product__details__li--p">Precio de envio <b>A calcular</b></p>
                </li>
                <li class="c-view-product__details__li">
                    <i class="far fa-check-circle"></i>
                    <p class="c-view-product__details__li--p">Garantia del producto <b>1 año</b></p>
                </li>
            </ul>
            <div class="c-view-product__colours">
                <p class="c-view-product__colours--p">Color</p>
                
            </div>
        </div>
    </article>
</section>

{{> footer}}