.container 
{ 
    display: flex;
    flex-wrap: wrap;
}
.container__content 
{ 
    width: 100%;
    max-width: 1440px;
    padding-left: calc(1440px * (1 / 24));
    padding-right: calc(1440px * (1 / 24));
}
@media (max-width: 1024px)
{
    .container__content
    {
        padding-left: calc(1024px * (1 / 24));
        padding-right: calc(1024px * (1 / 24));
    }
    .c-grid-four { grid-template-columns: repeat(2, 1fr); }
    .c-product-cols__btn { margin-top: 1.5rem; }
}

@media (max-width: 768px)
{
    /* .c-product-cols 
    {
        grid-template-columns: repeat(auto-fill, minmax(288.3px, 1fr)); 
    } */
    .c-grid-four__box { height: 250px; }
    .c-promo-index { flex-direction: column; }
    .c-promo-index__info, .c-promo-index__fig { width: 100%; }
    .c-promo-index__info__content { padding: 40px 0; }
    .c-product-col__fig { height: 150px; }
    .c-product-col__info--title { font-size: 14px; }
    .c-product-col__content { padding-bottom: 20px; }
    .c-product-col__info--p { font-size: 16px; }
}

@media (max-width: 425px)
{
    
}

@media (max-width: 375px)
{
    
}

@media (max-width: 320px)
{
    .c-grid-four__box { height: 200px; }
}