:root {
  --purple: #C50084;
}

#area-file {
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  resize: none;
  width: 100%;
}

.dragging-file {
  border: 3px dashed #29abe2;
  border-radius: 9px;
}

.non-dragging-file {
  border: 3px dashed transparent;
  border-radius: 9px;
}

.service-index {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  width: 30%;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
}

.service-index__figure {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 200px;
  overflow: hidden;
  width: 100%;
}

.service-index__figure--img {
  height: 100%;
  object-position: center;
  object-fit: cover;
  width: 100%;
}

.service-index__info {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  width: 80%;
}

.service-index__info--title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.service-index__info--p {
  padding-top: 10px;
}

.title-service {
  color: #29abe2;
  font-weight: 200;
  font-size: 35px;
  padding-bottom: 50px;
  text-align: center;
}

.sec-services {
  background-color: #ffffff;
  padding-bottom: 100px;
  padding-top: 100px;
}

.c-product {
  background-color: #f9f9f9;
  width: 100%;
}

.c-product__content {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  padding-top: 60px;
  width: 90%;
}

.c-product--title {
  font-size: 24px;
  padding-bottom: 30px;
}

.c-product-cols {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 30px;
}

.c-product-col {
  background-color: #ffffff;
  border-radius: 5px;
  transition: .5s;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.c-product-col:hover {
  box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.35);
}

.c-product-col:hover .c-product-col__info--price {
  font-size: 20px;
  padding-top: 10px;
}

.c-product-col__content {
  padding-bottom: 40px;
  width: 100%;
}

.c-product-col__fig {
  border-radius: 5px;
  height: 250px;
  overflow: hidden;
  width: 100%;
}

.c-product-col__fig--img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.c-product-col__info {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
  width: 80%;
}

.c-product-col__info--p {
  width: 100%;
}

.c-product-col__info--price {
  font-size: 0px;
  padding-top: 0px;
  transition: .5s;
}

.slideshow {
  height: 350px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider li img {
  height: 100%;
  object-position: center;
  object-fit: cover;
  width: 100%;
}

.slider .caption {
  align-items: center;
  color: #fff;
  display: flex;
  height: 40vh;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  padding: 15px 10px;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.li-dark:before {
  background-color: #000000;
  content: "";
  position: absolute;
  opacity: .2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.caption p {
  font-size: 3vh;
  width: 50%;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  left: 0;
  position: absolute;
  top: 305px;
  width: 100%;
}

.pagination-item {
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 22px;
  margin: 0 10px;
  overflow: hidden;
  text-align: center;
  transition: all 300ms;
  width: 22px;
}

.prueba {
  align-items: center;
  background-color: black;
  cursor: pointer;
  color: white;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.prueba:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.pagination-item:hover {
  transform: scale(1.8);
}

.pagination-item img {
  display: inline-block;
  height: 100%;
  max-width: none;
  opacity: 0;
  transform: scale(1);
  transition: all 300ms;
}

.pagination-item:active img {
  background: white;
}

.pagination-item:hover img {
  opacity: 1;
  transform: scale(1);
}

@media screen and (min-width: 320px) {
  .slider li img {
    height: 375px;
  }
  .slider .caption p {
    display: none;
  }
  .slider .caption h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 480px) {
  .slider .caption p {
    display: block;
  }
  .slider .caption h1 {
    font-size: 40px;
  }
  .slider li img {
    width: 100%;
    height: 100%;
  }
}

.c-slider-new {
  width: 100%;
}

.c-slider-new__img {
  width: 100%;
}

.h {
  background-color: #C50084;
  display: flex;
  /* background-color: var(--purple); */
  overflow: hidden;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.h__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.h__content--img {
  width: 140px;
}

.h__menu {
  align-items: center;
  display: flex;
}

.h__search {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  justify-content: space-around;
  display: flex;
  height: 35px;
  width: 350px;
}

.h__search__c {
  width: 290px;
}

.h__search--input {
  font-size: 14px;
  width: 100%;
}

.h__search--ico {
  background-color: transparent;
  cursor: pointer;
  width: 20px;
}

.h__menu__a-img {
  margin-right: 20px;
}

.h__menu--li {
  margin-right: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 35px;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  transition: .5s;
}

.h__menu--li:hover {
  background-color: #920061;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 35px;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  transition: .5s;
}

.h__menu--li-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #920061;
  border-radius: 35px;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  transition: .5s;
}

.h__menu--li-btn:hover {
  background-color: #5d003e;
}

.h__menu--a {
  align-items: center;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  color: #ffffff;
  font-weight: bold;
}

.h__menu--a i {
  color: #ffffff;
  font-size: 20px;
  padding-left: 14px;
}

.h-list {
  background-color: #000000;
  display: flex;
  justify-content: center;
  width: 100%;
}

.h-list__content {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.h-list__ul {
  align-items: center;
  display: flex;
}

.h-list__li {
  padding-right: 20px;
  padding-bottom: 7px;
  padding-top: 7px;
}

.h-list__li:last-child {
  padding-right: 0;
}

.h-list__li--a {
  color: #ffffff;
  font-size: 12px;
  opacity: .6;
}

.h-list__li--a:hover {
  opacity: 1;
  text-decoration: underline;
}

.h__ico-show {
  cursor: pointer;
  padding-left: 15px;
}

.h__ico-show--i {
  color: #ffffff;
  font-size: 25px;
}

.h__form {
  align-items: center;
  display: flex;
}

/************** Slider ******************/
.c-slider {
  background-color: #ffffff;
  max-height: 500px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.c-slider__txt {
  align-items: center;
  display: flex;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.c-slider__txt__content {
  padding-left: 5vw;
  width: 650px;
}

.c-slider__logo {
  width: 350px;
}

.c-slider__info--h1 {
  color: #ffffff;
  font-size: 4vw;
}

.c-slider__info--p {
  color: #ffffff;
  font-size: 20px;
}

.c-slider__c-imgs {
  height: 500px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.c-slider-fondo-rosa {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 60%;
  z-index: 1;
  background: #d61398;
  background: -webkit-gradient(left top, right top, color-stop(0%, #d61398), color-stop(70%, #d61398), color-stop(81%, rgba(214, 19, 152, 0.63)), color-stop(84%, rgba(214, 19, 152, 0.53)), color-stop(93%, rgba(247, 22, 176, 0.23)), color-stop(100%, rgba(247, 22, 176, 0)));
  background: linear-gradient(to right, #d61398 0%, #d61398 70%, rgba(214, 19, 152, 0.63) 81%, rgba(214, 19, 152, 0.53) 84%, rgba(247, 22, 176, 0.23) 93%, rgba(247, 22, 176, 0) 100%);
}

.c-slider__c-img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  width: 60%;
  z-index: 0;
}

.c-slider__c-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.h__menu-account {
  align-items: center;
  display: flex;
}

.h__menu-account__fig {
  border-radius: 40px;
  height: 40px;
  overflow: hidden;
  width: 40px;
}

.h__menu-account__fig--img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.h__menu-account--name-user {
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.h__menu-account--ico {
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

.h__menu-account--ico i {
  font-size: 25px;
}

footer {
  background-color: #131313;
  width: 100%;
}

.footer-info {
  width: 100%;
}

.footer-info__content {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 55px;
  padding-top: 55px;
  width: 90%;
}

.footer-info__options {
  display: flex;
}

.footer-info__know-us--title {
  color: white;
  font-size: 25px;
  padding-bottom: 20px;
}

.footer-info__know-us--li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-info__know-us--a {
  color: white;
  opacity: .5;
  transition: .5s;
}

.c-copyright {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #000000;
  height: 50px;
  width: 100%;
}

.c-copyright p {
  color: white;
  font-size: 12px;
  width: 90%;
}

/*************+*/
.logo-footer {
  width: 140px;
}

.title-footer-p {
  color: white;
  font-size: 25px;
  padding-bottom: 20px;
}

.socialmedia-footer {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.navegacion-footer {
  padding-left: 30px;
}

.navegacion-footer__li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navegacion-footer__li--a {
  color: white;
  opacity: .5;
  transition: .5s;
}

.navegacion-footer__li--a:hover {
  opacity: 1;
}

.socialmedia-footer__li {
  width: 30px;
}

.socialmedia-footer__li--img {
  width: 100%;
}

.c-profile {
  border-top: 1px solid #29abe2;
  width: 100%;
}

.c-profile__content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.c-profile__info {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 75%;
}

.c-profile__info__content {
  display: flex;
  margin-left: auto;
  width: 90%;
}

.c-profile__b1, .c-profile__b2 {
  width: 50%;
}

.c-profile__b2__content {
  margin-left: auto;
  width: 90%;
}

.c-profile__c {
  padding-bottom: 2rem;
  width: 100%;
}

.c-profile__c:last-child {
  padding-bottom: 0;
}

.c-profile__c--p {
  font-size: 14px;
  padding-bottom: 5px;
}

.c-profile__c--input {
  align-items: center;
  display: flex;
  border-radius: 5px;
  border: 1px solid #B2B2B2;
  height: 30px;
  width: 100%;
}

.c-profile__c--textarea {
  align-items: center;
  display: flex;
  border-radius: 5px;
  border: 1px solid #B2B2B2;
  height: 140px;
  width: 100%;
}

.c-profile__c--input input {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.c-profile__c--textarea textarea {
  display: flex;
  height: 95%;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.c-profile__btn {
  display: flex;
  justify-content: space-between;
}

.c-profile__btn button:nth-child(1) {
  background-color: #29abe2;
  color: white;
  cursor: pointer;
  height: 35px;
  transition: .5s;
  width: 60%;
}

.c-profile__btn button:nth-child(2) {
  background-color: #ff0000;
  color: white;
  cursor: pointer;
  height: 35px;
  transition: .5s;
  width: 38%;
}

.c-profile__btn button:hover {
  background-color: #000000;
}

.c-profile__figure {
  border-radius: 10px;
  height: 393px;
  overflow: hidden;
  margin-bottom: 1rem;
  width: 100%;
}

.cont-options-profile {
  border-right: 1px solid gray;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 25%;
}

.cont-options-profile__content {
  margin-right: auto;
  width: 80%;
}

.cont-options-profile__content li {
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 10px 10px;
}

.cont-options-profile__content li a i {
  font-size: 20px;
  padding-right: 15px;
}

.cont-options-profile__content li .i-active {
  color: #29abe2;
}

.cont-options-profile__content li a {
  display: flex;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
}

.cont-options-profile__content li .a-active {
  color: #29abe2;
  font-size: 18px;
}

.cont-options-profile__content li:last-child {
  padding-bottom: 12px;
}

.cont-options-profile__content li:hover {
  background-color: #f2f2f2;
  font-weight: bold;
  transition: .5s;
}

@media (max-width: 1063px) {
  .cont-options-profile__content li {
    text-align: center;
    width: 45px;
  }
  .cont-options-profile__content li a p {
    display: none;
  }
  .cont-options-profile {
    width: 8%;
  }
  .c-profile__info {
    width: 92%;
  }
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  transition-duration: .5s;
}

.regmanoobra {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  transition-duration: .5s;
}

.editar {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  transition-duration: .5s;
}

.eliminar {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  transition-duration: .5s;
}

.abrir {
  cursor: pointer;
}

.modal__content {
  border-radius: 10px;
  background-color: white;
  margin: 0 auto;
}

.modal__content form {
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px;
  position: relative;
  z-index: 1001;
}

.modal__content form div {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.modal__content form p {
  font-size: 25px;
  padding-bottom: 1em;
}

.modal__content form i {
  cursor: pointer;
  color: #29abe2;
  font-size: 30px;
  padding-top: 10px;
  transition-duration: .5s;
}

.modal__content form i:hover {
  color: black;
}

.modal__content form div input {
  display: flex;
  border-radius: 5px;
  border: 1px solid #B2B2B2;
  height: 100%;
  flex-basis: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

.btn-modal {
  /* background-color: #E2061A; */
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 33px;
  margin-bottom: 1em;
  width: 100%;
}

.btn-gris {
  background-color: #888888;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 33px;
  margin-bottom: 1em;
  width: 100%;
}

.btn-gris:hover {
  background-color: #424242;
}

.btn-modal:hover {
  background-color: black;
}

.c-cuenta {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  height: 100px;
  justify-content: center;
  position: absolute;
  top: 70px;
  right: 70px;
  width: 180px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.c-cuenta__content {
  width: 80%;
}

.c-cuenta__li {
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 10px;
  width: 100%;
}

.c-cuenta__li:last-child {
  border: 0;
  padding: 0;
  padding-top: 10px;
}

.c-cuenta__li--a {
  align-items: center;
  color: #000000;
  font-size: 14px;
  display: flex;
  transition: .5s;
}

.c-cuenta__li--a:hover {
  font-weight: bold;
  font-size: 13px;
}

.c-cuenta__li--a i {
  font-size: 20px;
  padding-right: 7px;
}

.modal-category {
  align-items: center;
  border-radius: 7px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 95px;
  left: 210px;
  width: 180px;
  z-index: 1000;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.33);
}

.modal-category__content {
  padding-bottom: 15px;
  padding-top: 15px;
  width: 80%;
}

.modal-category__li {
  border-radius: 30px;
  margin-bottom: 2px;
  padding: 5px 10px;
  transition: .5s;
}

.modal-category__li:hover {
  background-color: #f2f2f2;
}

.modal-category__li--a {
  display: flex;
  color: #C50084;
  width: 100%;
}

.c-title-questions {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.c-title-questions h1 {
  padding-top: 3rem;
  width: 75%;
}

.c-preguntas-frecuentes {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.c-preguntas-frecuentes__ul {
  background: white;
  border-radius: 10px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 75%;
}

.c-preguntas-frecuentes__li {
  align-items: center;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-right: 15px;
}

.c-preguntas-frecuentes__li i {
  font-size: 21px;
  transition: 0.3s;
}

.c-preguntas-frecuentes__li span {
  transition: 0.3s;
}

.c-preguntas-frecuentes__li:hover span {
  margin-left: 15px;
}

.c-preguntas-frecuentes__li:last-child {
  border: none;
}

.c-preguntas-frecuentes__respuesta {
  background: #d1d1d1;
  height: 0;
  overflow: hidden;
  padding: 0 14px;
  transition: 0.5s;
  text-align: justify;
}

.resp_act {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid lightgrey;
}

.ico_resp_act {
  transform: rotate(180deg);
}

.c-modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  left: 0;
  min-width: 100%;
  overflow-x: hidden;
  position: fixed;
  transition-duration: .5s;
  top: 0;
  z-index: 1000;
}

.c-modal__content {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  height: 700px;
  width: 500px;
}

.form-modal {
  height: 620px;
  width: 90%;
}

.title-modal {
  font-size: 25px;
}

.c-modal__box {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
}

.c-modal__box--input {
  height: 30px;
  width: 95%;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 20px;
  height: 20px;
  position: relative;
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #29abe2;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  animation-delay: 0.9s;
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.c-list {
  width: 100%;
}

.c-list__content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 90%;
}

.c-list__t {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
}

.c-list__t-head, .c-list__t-body {
  display: grid;
  border-bottom: 1px solid #c2c2c2;
  grid-template-columns: 5% 25% 10% repeat(2, 1fr) 15%;
}

.c-list__t-body:last-child {
  border-bottom: 0;
}

.c-list__t-body:nth-child(even) {
  background-color: #f8f8f8;
}

.c-list__column {
  align-items: center;
  border-right: 1px solid #c2c2c2;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.c-list__column:last-child {
  border: 0;
}

.c-list__column--p {
  word-break: break-all;
  -ms-word-break: break-all;
  hyphens: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 95%;
}

.c-list__actions {
  justify-content: center;
  display: flex;
  width: 100%;
}

.c-list__actions--a {
  color: #959597;
  padding-right: 10px;
  transition: .5s;
}

.c-list__actions--a:last-child {
  color: #000000;
}

.c-list__actions--a:hover {
  color: #000000;
}

.c-list__actions--a i {
  font-size: 20px;
}

.c-1-index {
  display: flex;
  justify-content: center;
  width: 100%;
}

.c-1-index__content {
  padding-bottom: 80px;
  padding-top: 60px;
  width: 90%;
}

.c-1-index__info {
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
}

.c-1-index__info--title {
  font-size: 30px;
  padding-bottom: 30px;
}

.c-1-index__info--p {
  color: #313131;
}

.c-1-index__cols {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 30px;
  padding-top: 40px;
}

.c-1-index__col {
  text-align: center;
}

.c-1-index__col i {
  color: #C50084;
  font-size: 90px;
  padding-bottom: 30px;
}

.c-1-index__col--title {
  font-size: 20px;
  font-weight: bold;
}

.c-1-index__col--p {
  padding-top: 15px;
}

.cont-img-contact {
  border-radius: 10px;
  height: 500px;
  overflow: hidden;
  width: 48%;
}

.cont-info-contact {
  width: 48%;
}

.cont-info-contact__content--h3 {
  font-size: 30px;
  padding-bottom: 30px;
}

.cont-info-contact__content--p {
  text-align: justify;
  padding-bottom: 30px;
}

.cont-info-contact__form {
  width: 100%;
}

.form-cmp-x2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  grid-gap: 15px;
}

.cont-imput {
  align-items: center;
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  height: 40px;
}

.cont-imput input {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.form-cmp-x1 {
  align-items: center;
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.form-cmp-x1 input {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.form-txtarea {
  align-items: center;
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.form-txtarea textarea {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.new-size-img {
  width: 70%;
  height: 250px;
}

* {
  border: 0;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  margin: 0;
  outline: none;
  resize: none;
  padding: 0;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row-100 {
  overflow: hidden;
  width: 100%;
}

.row-90 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.row-80 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.row-70 {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.row-60 {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.row-50 {
  width: 50%;
}

.flex {
  align-items: center;
  display: flex;
}

.flex-justify {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex-align-top {
  align-items: flex-start;
}

.flex-horizontal {
  display: flex;
  flex-direction: column;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.grid-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.btn {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: .5s;
  width: 80%;
}

.btn-form {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #29abe2;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  height: 40px;
  margin-top: 30px;
  transition: .5s;
  width: 150px;
}

.btn-form:hover {
  background-color: #000000;
}

.btn a {
  color: black;
}

.btn:hover a {
  color: white;
}

.btn:hover {
  background-color: var(--purple);
  border: 1px solid var(--purple);
  color: white;
}

.btn-a {
  color: black;
}

.btn-30 {
  border-radius: 30px;
}

.img-100 {
  height: 100%;
  object-position: center;
  object-fit: cover;
  width: 100%;
}

.img-section-r {
  border-radius: 10px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 350px;
}

.padding-tb {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-tb-mini {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-b-15 {
  padding-bottom: 15px;
}

.title-2 {
  font-size: 4vw;
  line-height: 7vh;
}

.txt-normal {
  padding-top: 30px;
}

.bcolor-fd {
  background-color: #f2f2f2;
}

.cont-cmp-form {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 30px;
  width: 100%;
}

.cmp-form {
  display: flex;
  border-radius: 5px;
  border: 1px solid #B2B2B2;
  height: 100%;
  flex-basis: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

.file-input {
  visibility: hidden;
  width: 0;
  position: relative;
}

.file-input::before {
  content: 'Selecciona o arrastra una imagen';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  visibility: visible;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */