*
{
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0;
    outline: none;
    resize: none;
    padding: 0;
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row-100
{
    overflow: hidden;
    width: 100%;
}

.row-90
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.row-80
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.row-70
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.row-60
{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.row-50
{
    width: 50%;
}

.flex
{
    align-items: center;
    display: flex;
}

.flex-justify
{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.flex-align-top
{
    align-items: flex-start;
}

.flex-horizontal
{
    display: flex;
    flex-direction: column;
}

.grid-3
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-5
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-6
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-7
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid-8
{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.btn
{
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    height: 40px;
    margin-top: 40px;
    transition: .5s;
    width: 100%;
}

.btn-form
{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #29abe2;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    height: 40px;
    margin-top: 30px;
    transition: .5s;
    width: 150px;
}

.btn-form:hover
{
    background-color: #000000;
}

.btn a { color: black; }

.btn:hover a
{
    color: white;
}

.btn:hover
{
    background-color: #0FA12E;
    border: 1px solid #0FA12E;
    color: white;
}

.btn-a
{
    color: black;
}

.btn-30
{
    border-radius: 30px;
}

.img-100
{
    height: 100%;
    object-position: center;
    object-fit: cover;
    width: 100%;
}

.img-section-r
{
    border-radius: 10px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 350px;
}

.padding-tb
{
    padding-top: 80px;
    padding-bottom: 80px;
}

.padding-tb-mini
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-tb-15
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-b-15
{
    padding-bottom: 15px;
}

.title-2
{
    font-size: 55px;
    line-height: 55px;
}

.txt-normal
{
    padding-top: 30px;
}

.bcolor-fd
{
    background-color: #f2f2f2;
}

.cont-cmp-form
{
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 30px;
    width: 300px;
}

.cmp-form
{
    display: flex;
    border-radius: 5px;
    border: 1px solid #B2B2B2;
    height: 100%;
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

/*********** Header ***********/

.logo-header
{
    width: 140px;
}

.menu__li
{   
    align-items: center;
    display: flex;
    height: 50px;
    padding-right: 30px;
}

.menu__li:last-child
{
    padding-right: 0px;
    font-weight: bold;
}

.menu__li--a
{
    color: #000000;
}

.txt-blue
{
    color: #29abe2;
}

.blue{
    background-color: #29abe2;
}

/*********** Header ***********/

/*********** Slider ***********/

.slider
{
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/slide.jpg);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 400px;
    width: 100%;
}

.slider__info
{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    width: 80%;
}

.slider__info--h1
{
    color: white;
    font-size: 50px;
    padding-bottom: 20px;
}

.slider__info--p
{
    color: white;
    width: 600px;
}

/*********** Slider ***********/

/*********** Index ***********/

.service-index
{
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;

    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.10);
}

.service-index__figure
{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.service-index__figure--img
{
    height: 100%;
    object-position: center;
    object-fit: cover;
    width: 100%;
}

.service-index__info
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    width: 80%;
}

.service-index__info--title
{
    font-size: 20px;
    font-weight: bold;
}

.service-index__info--p
{
    padding-top: 10px;
}

.title-service
{
    color: #29abe2;
    font-weight: 200;
    font-size: 35px;
    padding-bottom: 50px;
    text-align: center;
}

.sec-services
{
    background-color: #ffffff;
    padding-bottom: 100px;
    padding-top: 100px;
}

/*********** Index ***********/

/*********** Footre ***********/

footer
{
    background-color: rgb(19, 19, 19);
}

.Copyright-footer
{
    align-items: center;
    display: flex;
    background-color: #000000;
    height: 50px;
    width: 100%;
}

.logo-footer
{
    width: 140px;
}

.title-footer-p
{
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}

.socialmedia-footer
{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.navegacion-footer__li
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.navegacion-footer__li--a
{
    color: white;
    opacity: .5;
    transition: .5s;
}

.navegacion-footer__li--a:hover
{
    opacity: 1;
}

.socialmedia-footer__li
{
    width: 30px;
}

.socialmedia-footer__li--img
{
    width: 100%;
}

.Copyright-footer p
{
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/*********** Footre ***********/

/********** Perfil ************/

#area-file {
  padding: 3px;
  resize: none;
  height: 50px;
  width: 100%;
}

.dragging-file {
  border: 3px dashed #29abe2;
  border-radius: 9px;
}

.non-dragging-file {
  border: 3px dashed transparent;
  border-radius: 9px;
}

.ico-photo-profile
{
    border-radius: 40px;
    height: 40px;
    overflow: hidden;
    width: 40px;  
}

.ul-h-profile
{
    width: 120px;
}

.art-profile
{
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
}

.cont-form-profile
{
    width: 70%;
}

.cont-form-profile__content
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.cont-options-profile
{
    border-left: 1px solid gray;
    width: 30%;
}

.cont-options-profile__content
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.cont-p-form
{
    justify-content: flex-end;
    display: flex;
    width: 180px;
}

.cont-date-form
{
    padding-bottom: 15px;
}

.size-cmp
{
    align-items: center;
    display: flex;
    height: 35px;
}

.name-cmp-form
{
    justify-content: flex-end;
    width: 30%;
}

.name-cmp-form div
{
    display: flex;
    justify-content: flex-end;
}

.name-cmp-form div p
{
    text-align: right;
    padding-right: 15px;
}

.box-cmp-form
{
    width: 70%;
}

.cont-options-profile__content li
{
    padding-bottom: 10px;
}

.cont-options-profile__content li i
{
    font-size: 0px;
}

.cont-options-profile__content li .i-active
{
    color: #29abe2;
    font-size: 20px;
    margin-left: 4px;
}


.cont-options-profile__content li a
{
    font-size: 16px;
    color: black;
    padding: 0;
}

.cont-options-profile__content li .a-active
{
    color: #29abe2;
    font-size: 18px;
    padding-left: 15px;
    color: #29abe2;
}


.cont-options-profile__content .li-active
{
    padding-bottom: 25px;
}

.cont-options-profile__content li:last-child
{
    padding-bottom: 12px;
}

.cont-options-profile__content li:hover
{
    font-weight: bold;
    transition: .5s;
}
/********** Perfil ************/