@media (max-width: 768px)
{
    .c-grid-four { grid-template-columns: repeat(1, 1fr); }
    /* .container { width: 768px; }
    .container__content { width: 600px; }
    .c-product-cols
    {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
    }

    .c-profile__info__content { flex-direction: column; }
    .c-profile__b1, .c-profile__b2, .c-profile__b2__content { width: 100%; }
    .c-shopping-cart__product { flex-direction: column; }
    .c-shopping-cart__fig { height: 300px; width: 100%; }
    .c-shopping-cart__p-info { width: 100%; }
    .c-slider__c-img { height: inherit;} */
}