.c-profile-seller
{
    background-color: #f1f1f1;
    padding: 4rem 0;
    position: relative;
    width: 100%;
}

.c-profile-seller__content
{
    margin: 0 auto;
    position: relative;
    width: 80%;
}

.c-profile-seller__fig
{
    border-radius: 8px;
    height: 120px;
    left: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    right: auto;
    top: 0;
    width: 120px;
    z-index: 2;
}

.c-profile-seller__fig--img
{
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.c-profile-seller__form-actions
{
    background-color: #ffffff;
    left: 0;
    position: relative;
    top: -60px;
    width: 100%;
}

.c-profile-seller__form-actions--content
{
    margin: 0 auto;
    padding: 4rem 0 2rem 0;
    width: 90%;
}

.c-profile-seller__form-actions--title
{
    font-size: 24px;
    padding: 2rem 0 4rem 0;
    text-align: center;
    text-transform: uppercase;
}

.c-profile-seller__form
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.c-profile-seller__form--content
{
    overflow: hidden;
    width: 55%;
}

.c-profile-seller__form--title
{
    font-weight: bold;
    padding-bottom: 3rem;
    font-size: 20px;
}

.c-profile-seller__input, .c-profile-seller__textarea, .c-profile-seller__file
{
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}
.c-profile-seller__input input,
.c-profile-seller__input textarea,
.c-profile-seller__textarea textarea,
.c-profile-seller__file input[type="file"]
{
    padding: 10px 0;
    width: 95%;
}
.c-profile-seller--button
{
    background-color: #C50084;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    padding: 8px 25px;
}

.c-profile-seller__actions { min-width: 300px; }

.c-profile-seller__buttons
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    // margin-bottom: 15px;
    width: 100%;
}

.c-profile-seller__buttons--btn
{
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    height: 90px;
    justify-content: center;
    min-width: 100%;
}

.c-profile-seller__buttons--a
{
    align-items: center;
    color: #000;
    display: flex;
    height: 90px;
    justify-content: center;
    transition: .5s;
    width: 100%;
}

.c-profile-seller__buttons--a:hover
{
    background-color: #29abe2;
    border-radius: 10px;
}

.c-profile-seller__buttons--a i
{
    color: #000;
    font-size: 32px;
}

.c-profile-seller__options
{
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 2rem 0;
    width: 100%;
}

.c-profile-seller__options--li
{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 75%;
}

.c-profile-seller__options--li:last-child { margin-bottom: 0; }

.c-profile-seller__options--a
{
    align-items: center;
    display: flex;
    font-size: 20px;
    width: 100%;
}

.c-profile-seller__options--a i
{
    font-size: 20px;
    padding-right: 10px;
}

.reg-step-1
{
    opacity: 1;
    transform: .5s;
}

.reg-step-2
{
    opacity: 1;
    transform: .5s;
}

.reg-step-3
{
    opacity: 1;
    transform: .5s;
}