<footer>
    <div class="">
        <div class="">
            <div class="">
                <p class="">Categorias</p>
                <ul class="">
                    <li class="">
                        <a class="" href="">Pasteles</a>
                    </li>
                    <li class="">
                        <a class="" href="">Plantas</a>
                    </li>
                    <li class="">
                        <a class="" href="">Maquillaje</a>
                    </li>
                    <li class="">
                        <a class="" href="">Zapatos</a>
                    </li>
                    <li class="">
                        <a class="" href="">Salud y belleza</a>
                    </li>
                    <li class="">
                        <a class="" href="">Ropa de bebes</a>
                    </li>
                    <li class="">
                        <a class="" href="">Ropa para mujeres</a>
                    </li>
                    <li class="">
                        <a class="" href="">Maletas y bolsos</a>
                    </li>
                    <li class="">
                        <a class="" href="">Terapias</a>
                    </li>
                    <li class="">
                        <a class="" href="">Carteras</a>
                    </li>
                    <li class="">
                        <a class="" href="">Masetas</a>
                    </li>
                    <li class="">
                        <a class="" href="">Manualidades</a>
                    </li>
                </ul>
            </div>
            <div class="">
                <p class="">Ayuda</p>
                <ul class="">
                    <li class="">
                        <a class="" href="">Preguntas frecuentes</a>
                    </li>
                    <li class="">
                        <a class="" href="">¿Comó comprar?</a>
                    </li>
                    <li class="">
                        <a class="" href="">Actualiza tus datos</a>
                    </li>
                    <li class="">
                        <a class="" href="">Promociones vigentes</a>
                    </li>
                    <li class="">
                        <a class="" href="">Contacto</a>
                    </li>
                </ul>
                <div class="">
                    <p class="">Medios de pago</p>
                    <div class="">
                        <img class="" src="">
                        <img class="" src="">
                        <img class="" src="">
                        <img class="" src="">
                        <img class="" src="">
                    </div>
                </div>
            </div>
            <div class="">
                <div class="">
                    <p class="">Únete ahora</p>
                    <input class="" type="text" required>
                    <p class="">Al suscribirte aceptas nuestas politicas de tratamiento de datos.</p>
                </div>
                <div class="">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <p>© 2020 Tienda CTIAM. Esta tienda virtual está protegido y es propiedad de Mujeres CTIAM</p>
        <img class="" src="">
    </div>
    <div class="">
        <p class="">Desarrollador por el team</p>
        <a class="" href="">ASTEROIDE</a>
    </div>
</footer>

<script src="js/register-modal.js"></script>
<script src="js/login-modal.js"></script>
</body>
</html>