<footer>
    <div class="footer-info">
        <div class="footer-info__content">
            <div class="footer-info__options">
                <ul class="footer-info__know-us">
                    <p class="footer-info__know-us--title">Conócenos</p>
                    <li class="footer-info__know-us--li">
                        <a class="footer-info__know-us--a" href="">Acerca de CTIAM</a>
                    </li>
                    <li class="footer-info__know-us--li">
                        <a class="footer-info__know-us--a" href="">Blog</a>
                    </li>
                    <li class="footer-info__know-us--li">
                        <a class="footer-info__know-us--a" href="">Preguntas frecuentes</a>
                    </li>
                    <li class="footer-info__know-us--li">
                        <a class="footer-info__know-us--a" href="">Cómo comprar</a>
                    </li>
                    <li class="footer-info__know-us--li">
                        <a class="footer-info__know-us--a" href="">Actualiza tus datos</a>
                    </li>
                    <li class="footer-info__know-us--li">
                        <a class="footer-info__know-us--a" href="">Contáctanos</a>
                    </li>
                </ul>
                <ul class="footer-info__know-us">
                    <p class="footer-info__know-us--title">Politicas</p>
                    <li class="footer-info__know-us--li">
                        <a class="footer-info__know-us--a" href="">Términos y condiciones</a>
                    </li>
                    <li class="footer-info__know-us--li">
                        <a class="footer-info__know-us--a" href="">Políticas de privacidad</a>
                    </li>
                    <li class="footer-info__know-us--li">
                        <a class="footer-info__know-us--a" href="">Garantía</a>
                    </li>
                    <li class="footer-info__know-us--li">
                        <a class="footer-info__know-us--a" href="">Cambios y devoluciones</a>
                    </li>
                    <li class="footer-info__know-us--li">
                        <a class="footer-info__know-us--a" href="">Envios</a>
                    </li>
                </ul>
            </div>
            <ul class="footer-sm">
                <div class="footer-sm__content">
                    <li class="footer-sm__li">
                        <a href="footer-sm__li--a" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="footer-sm__li">
                        <a href="footer-sm__li--a" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="footer-sm__li">
                        <a href="footer-sm__li--a" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="footer-sm__li">
                        <a href="footer-sm__li--a" target="_blank"><i class="fab fa-youtube"></i></a>
                    </li>
              </div>
            </ul>
        </div>
    </div>
    <div class="c-copyright">
        <p>Copyright © 2020. Todos los derechos reservados</p>
    </div>
</footer>
</body>
</html>