<footer class="row-100">
  <div class="row-100">
    <div class="row-90 flex-justify padding-tb-mini flex-align-top">
      <img class="logo-footer" src="images/logofooter.png">
      <ul class="navegacion-footer">
        <p class="title-footer-p">Conócenos</p>
        <li class="navegacion-footer__li"><a class="navegacion-footer__li--a" href="">Servicios</a></li>
        <li class="navegacion-footer__li"><a class="navegacion-footer__li--a" href="">Blog</a></li>
        <li class="navegacion-footer__li"><a class="navegacion-footer__li--a" href="">Contacto</a></li>
      </ul>
      <ul class="">
        <p class="title-footer-p">Social Media</p>
        <div class="socialmedia-footer">
          <li class="socialmedia-footer__li">
            <a href=""><img class="socialmedia-footer__li--img" src="../images/icos/instagram.svg"></a>
          </li>
          <li class="socialmedia-footer__li">
            <a href=""><img class="socialmedia-footer__li--img" src="../images/icos/facebook.svg"></a>
          </li>
          <li class="socialmedia-footer__li">
            <a href=""><img class="socialmedia-footer__li--img" src="../images/icos/twitter.svg"></a>
          </li>
          <li class="socialmedia-footer__li">
            <a href=""><img class="socialmedia-footer__li--img" src="../images/icos/linkedin.svg"></a>
          </li>
          <li class="socialmedia-footer__li">
            <a href=""><img class="socialmedia-footer__li--img" src="../images/icos/youtube.svg"></a>
          </li>
        </div>
      </ul>
    </div>
  </div>
  <div class="Copyright-footer">
    <p>Copyright © 2020. Todos los derechos reservados</p>
  </div>
</footer>

<script src="../js/modal.js"></script>
<script src="../js/addproject.js"></script>
</body>

</html>