<!DOCTYPE html>
<html>
<head>
    {{!-- Google font --}}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/slider.css">
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/0dc3b1d201.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>...</title>
</head>
<body>
    <div class="modal" data-visible={{modal}}>
        <div class="modal__content">
            <form action="/login/signin" method="POST">
                <p>Iniciar sesión</p>
                <div>
                    <input type="text" placeholder="Correo electrónico" id="correo" name="email" required>
                </div>
                <div>
                    <input type="password" placeholder="Contraseña" id="password" name="password" required>
                </div>
                <button class="btn-modal blue" type="submit">Entrar</button>
                {{!-- <a href="/login/signin/google">Entra con google</a> --}}
                <button class="btn-gris" type="reset">Borrar información</button>
                <i class="fas fa-times-circle cerrar"></i>
            </form>
        </div>
    </div>

    <div class="h-list">
        <div class="h-list__content">
            <ul class="h-list__ul">
                <li class="h-list__li"><a class="h-list__li--a" href="/contact">¿Necesitas ayuda?</a></li>
                <li class="h-list__li"><a class="h-list__li--a" href="/questions">Preguntas frecuentes</a></li>
                <li class="h-list__li"><a class="h-list__li--a" href="">Como comprar</a></li>
                <li class="h-list__li"><a class="h-list__li--a" href="">Blog</a></li>
            </ul>
        </div>
    </div>

    <header class="h">
        <nav class="h__content">
            <ul class="h__menu">
                <a class="h__menu__a-img" href="/"><img class="h__content--img" src="images/logo.png"></a>
                <li class="h__menu--li">
                    <button onclick="showCategory()" class="h__menu--a">
                      Categorias<i class="fas fa-caret-down"></i>
                    </button>
                </li>
                <li class="h__menu--li"><a class="h__menu--a" href="https://ctiam.dasscol.co/" target="_blank">CTIAM</a></li>
                {{!-- <li class="h__menu--li"><a class="h__menu--a" href="/contact">Contacto</a></li> --}}
                {{!-- {{#unless isAuthenticated}}
                {{!--<li class="h__menu--li">
                    <a class="h__menu--a" href="/registrar">Crea tu cuenta</a>
                </li>--}}
                {{!-- {{/unless}} --}}

                <li class="h__menu--li-btn">
                  {{#if isAuthenticated}}
                    <a class="h__menu--a" href="/home">Perfil</a>
                    {{else}}
                    <a class="abrir h__menu--a" href="">Ingresar</a>
                  {{/if}}
                </li>
            </ul>
            <form action="">
                <div class="h__search">
                    <div class="h__search__c">
                        <input class="h__search--input" type="text" placeholder="Buscar">
                    </div>
                    <button type="submit" onclick="" class="h__search--ico">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </nav>
    </header>

    <div id="c-category"></div>