<div style="margin-top: 50px;">
    <div>
        <button onclick="modalAdd(this)">Agregar Categoria</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each categorys}}
                <tr>
                    <td>{{this.dataValues.nombre}}</td>
                    <td>{{this.dataValues.descripcion}}</td>
                    <td><a href="#" data-id-category="{{this.dataValues.id}}" onclick="modalEdit(this)">Editar</a><a href="#" data-id-category="{{this.dataValues.id}}" onclick="modalDelete(this)">Eliminar</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div id="modalAdd" style="display: none; border: 2px dashed #2bf;">
        <form action="/admin/categorys" method="POST">
            <div>
                <textarea name="nombre" id="name" cols="50" rows="20"></textarea>
            </div>
            <div>
                <textarea name="descripcion" id="description" cols="50" rows="20"></textarea>
            </div>
            <div>
                <button>Guardar</button>
            </div>
        </form>
    </div>
    <div id="modalEdit" style="display: none; border: 2px dashed #2bf;">
        <form action="" name="edit" method="POST">
            <div>
                <textarea name="nombre" id="name" cols="50" rows="20"></textarea>
            </div>
            <div>
                <textarea name="descripcion" id="description" cols="50" rows="20"></textarea>
            </div>
            <div>
                <button>Editar</button>
            </div>
        </form>
    </div>
    <div id="modalDelete" style="display: none; border: 2px dashed #2bf;">
        <form action="" name="delete" method="POST">
            <h3>¿Estás seguro que deseas eliminar esta categoria?</h3>
            <div>
                <textarea name="nombre" id="name" cols="50" rows="20"></textarea>
            </div>
            <div>
                <button type="submit">Eliminar</button>
            </div>
        </form>
    </div>
</div>
<script>
    async function modalEdit(e) {
        const idCategory = e.dataset.idCategory;
        const category = await getCategory(idCategory);
        console.log(category)
        showModal("modalEdit");
        document.querySelector("#modalEdit form").action = `/admin/categorys/${idCategory}`
        document.forms["edit"]["nombre"].value = category.category.nombre;
        document.forms["edit"]["descripcion"].value = category.category.descripcion;
    }
    async function modalDelete(e) {
        const idCategory = e.dataset.idCategory;
        console.log(idCategory)
        const category = await getCategory(idCategory);
        console.log(category)
        showModal("modalDelete");
        document.querySelector("#modalDelete form").action = `/admin/delete-categorys/${idCategory}`
        document.forms["delete"]["nombre"].value = category.category.nombre;
        
    }
    function showModal(modalName) {
        document.getElementById(modalName).style.display = "block";
    }
    async function getCategory(idCategory) {
        const data = await fetch(`http://localhost:4000/admin/categorys/${idCategory}`);
        return await data.json();
    }
    function modalAdd() {
        showModal("modalAdd")
    }
</script>