{{> header_principal}}
<div style="background-color: #2a8;">
    <div>
        <a href="/admin/user-list">Agregar Vendedor</a>
    </div>
    <div>
        <a href="/admin">Agregar administrador</a>
    </div>
    <div>
        <a href="/banner">Editar banner</a>
    </div>
</div>

{{> footer}}