{{> header_principal}}

<div class="c-login-admin container">
    <form class="form-login-admin" action="/login/signin-admin" method="POST" id="formLogin">
        <h4>Iniciar sesi칩n | Administrador</h4>
        <label for="nombre_usuario">
            <span>Usuario</span>
            <input type="text" id="nombre_usuario" name="nombre_usuario" required autocomplete="name">
        </label>
        <label for="email">
            <span>Correo</span>
            <input type="text" id="email" name="email" required autocomplete="email">
        </label>
        <label for="password">
            <span>Contrase침a</span>
            <input type="password" id="password" name="password" required>
        </label>
        <label>
            <input type="submit" value="Iniciar sesi칩n">
        </label>
        <a href="#" onclick="showRegister()">Registrar administrador</a>
    </form>
</div>

<form action="/login/signup-admin" method="POST" id="formRegister"
    style="border: 2px solid #ccc; width : 200px; margin: 100px; padding: 50px; display: none">
    <div style="margin-bottom: 50px;">
        <input type="text" name="nombre_usuario" placeholder="usuario">
    </div>
    <div style="margin-bottom: 50px;">
        <input type="text" name="email" placeholder="email">
    </div>
    <div style="margin-bottom: 50px;">
        <input type="password" name="password" placeholder="password">
    </div>
    <div style="margin-bottom: 50px;">
        <input type="password" name="key" placeholder="palabra clave">
    </div>
    <div style="margin-bottom: 50px;">
        <button type="submit">Registrar</button>
    </div>
    <div>
        <a href="#" onclick="showLogin()">iniciar sesi칩n administrador</a>
    </div>
</form>

<script>
    function showRegister() {
        document.querySelector("#formLogin").style.display = "none";
        document.querySelector("#formRegister").style.display = "block";
    }
    function showLogin() {
        document.querySelector("#formLogin").style.display = "block";
        document.querySelector("#formRegister").style.display = "none";
    }
</script>

{{> footer}}