{{> header_principal}}
<div class="c-list-admin container">
    <button class="btn-option-admin" onclick="modalAdd(this)">Agregar Pregunta</button>
    <table class="c-list-admin__table container__content">
        <thead>
            <tr>
                <th>Pregunta</th>
                <th>Respuesta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each frequentQuestions}}
                <tr>
                    <td>{{this.dataValues.pregunta}}</td>
                    <td>{{this.dataValues.respuesta}}</td>
                    <td><a href="#" data-id-question="{{this.dataValues.id}}" onclick="modalEdit(this)">Editar</a><a href="#" data-id-question="{{this.dataValues.id}}" onclick="modalDelete(this)">Eliminar</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div id="modalAdd" style="display: none; border: 2px dashed #2bf;">
        <form action="/admin/frecuent-questions" method="POST">
            <div>
                <textarea name="pregunta" id="question" cols="50" rows="20"></textarea>
            </div>
            <div>
                <textarea name="respuesta" id="answer" cols="50" rows="20"></textarea>
            </div>
            <div>
                <button>Guardar</button>
            </div>
        </form>
    </div>
    <div id="modalEdit" style="display: none; border: 2px dashed #2bf;">
        <form action="" name="edit" method="POST">
            <div>
                <textarea name="pregunta" id="question" cols="50" rows="20"></textarea>
            </div>
            <div>
                <textarea name="respuesta" id="answer" cols="50" rows="20"></textarea>
            </div>
            <div>
                <button>Editar</button>
            </div>
        </form>
    </div>
    <div id="modalDelete" style="display: none; border: 2px dashed #2bf;">
        <form action="" name="delete" method="POST">
            <h3>¿Estás seguro que deseas eliminar esta pregunta?</h3>
            <div>
                <textarea name="pregunta" id="question" cols="50" rows="20"></textarea>
            </div>
            <div>
                <button type="submit">Eliminar</button>
            </div>
        </form>
    </div>
</div>
<script src="../js/questions-admin.js"></script>

{{> footer}}