{{> header_principal}}

<section class="c-shopping-cart">
    <article class="c-shopping-cart__content">
        <div class="c-shopping-cart__title">
            <p class="c-shopping-cart__title--p">Carrito</p>
            <button class="c-shopping-cart__title--button" type="submit">Comprar todo</button>
        </div>
        {{#each cart}}
            {{> user/product_cart item=this}}
        {{/each}}
    </article>
</section>
<script src="../js/cart.js"></script>

{{> footer}}