{{> header}}

<div id="ventana-cuenta"></div>

<section class="c-profile">
    <article class="c-profile__content">
        <div class="cont-options-profile">
            <div class="cont-options-profile__content">
                <li class="li-active">
                    <i class="fas fa-edit i-active"></i>
                    <a class="a-active" href="">Editar Perfil</a>
                </li>
                <li>
                    <i class="fas fa-lock"></i>
                    <a class="" href="">Contraseña</a>
                </li>
                <li>
                    <i class="fas fa-user-edit"></i>
                    <a class="" href="">Reg. persona</a>
                </li>
                <li>
                    <i class="far fa-image"></i>
                    <a class="" href="">Reg. banner</a>
                </li>
                <li>
                    <i class="far fa-list-alt"></i>
                    <a class="" href="/list">Lista persona</a>
                </li>
                <li>
                    <i class="far fa-window-maximize"></i>
                    <a class="" href="">Modal</a>
                </li>
                <li>
                    <i class="fas fa-box-open"></i>
                    <a class="" href="">Servicios</a>
                </li>
                <li>
                    <i class="far fa-newspaper"></i>
                    <a class="" href="">Blog</a>
                </li>
                <li>
                    <i class="fas fa-phone-square-alt"></i>
                    <a class="" href="/contact">Contacto</a>
                </li>
            </div>
        </div>
        <div class="c-profile__info">
            <div class="c-profile__info__content">
                <div class="c-profile__b1">
                    <figure class="c-profile__figure">
                        <img class="img-100 profile-image" src="images/perfil/photo.jpg">
                    </figure>
                    <div class="cont-cmp-form padding-b-15" style="margin-bottom : 15px; flex-direction: column; height: 80px; border: 1px solid #B2B2B2;">
                    <div id="area-file" class="non-dragging-file cmp-form" style="border: 0; width: 90%; margin-left: auto; margin-right: auto;">
                        <div class="sk-folding-cube" id="spinner" style="position: absolute; display: none">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                        </div>
                    </div>
                    <input type="file" class="form-control file-input" name="imagen" style="height: 40px;width: 90%; margin-left: auto; margin-right: auto;">
                    </div>
                </div>
                <div class="c-profile__b2">
                    <div class="c-profile__b2__content">
                        <div class="c-profile__c">
                            <p class="c-profile__c--p">Nombre</p>
                            <div class="c-profile__c--input">
                                <input id="" type="text" value="{{user.name}}" required>
                            </div>
                        </div>
                        <div class="c-profile__c">
                            <p class="c-profile__c--p">Número de documento</p>
                            <div class="c-profile__c--input">
                                <input id="" type="text" required>
                            </div>
                        </div>
                        <div class="c-profile__c">
                            <p class="c-profile__c--p">Correo electrónico</p>
                            <div class="c-profile__c--input">
                                <input id="" type="text" value="{{user.email}}"  required>
                            </div>
                        </div>
                        <div class="c-profile__c">
                            <p class="c-profile__c--p">Descripción</p>
                            <div class="c-profile__c--textarea">
                                <textarea name="" id="">{{user.description}}</textarea>
                            </div>
                        </div>
                        <div class="c-profile__btn">
                            <button type="submit">Guardar</button>
                            <button type="submit">Borrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>

<script src="js/modal-perfil.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-storage.js"></script>
<script src="js/uploadImage.js"></script>
<script src="js/perfil.js"></script>

{{> footer }}