<form action="/login/signup" method="POST">
  <input type="text" name="firstName" placeholder="Primer nombre">
  <input type="text" name="email" placeholder="Correo">
  <input type="text" name="password" placeholder="Contraseña">
  <button type="submit">Registrarse</button>
</form>